#filter {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000000;
    background-image: url(../image/upload.gif);
    background-position: center center;
    background-repeat: no-repeat;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
    z-index: 10000;
}

/*-------------------login------------------*/

.login_btn {
    width: 100px;
    height: 45px;
    background: #bbdefb;
    color: #fff;
    border: 1px solid black;
    font-size: 14px;
    cursor: pointer;
    border-radius: 1px;
    font-family: Meiryo UI;
}
.login_div {
    margin: 50px;
    clear: both;
    padding-top: 20px;
}
.login_text {
    height: 25px;
    width: 200px;
}
/*
.login_btn:hover{
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
*/

.ui-datepicker-trigger {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

/*-------------------common--------------------*/
html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #fefefe;
    font-family: Arial, Helvetics, sans-serif;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    font-size: 0.9em;
    position: relative !important;
}

footer {
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

textarea {
    font-family: inherit;
    font-size: 13.333px;
}

h1 {
    padding-left: 110px;
}

select {
    width: 205px;
    border: none;
    border-bottom: 1px solid #757575;
    outline: 0;
    padding: 7px;
}

.divHeader {
    position: absolute;
    height: 70px;
    width: 100%;
}

.divBody {
    position: absolute;
    top: 60px;
    bottom: 40px;
    background-color: transparent;
    width: 100%;
    overflow-y: scroll;
}

.divBody1 {
    position: absolute;
    top: 60px;
    bottom: 40px;
    background-color: transparent;
    width: 100%;
}

.divBody2 {
    position: absolute;
    top: 230px;
    bottom: 40px;
    background-color: transparent;
    width: 90%;
    overflow-y: scroll;
}

.divFooter {
    position: fixed;
    height: 40px;
    width: 100%;
    bottom: 0;
    text-align: center;
    overflow: hidden;
    background: #fff;
    color: #757575;
    line-height: 35px;
    font-size: 12px;
}

.p_title {
    color: #40a5c6;
    padding: 7px;
}

.content {
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    width: 80%;
}

section.content {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    width: 80%;
    margin: auto;
}

.text {
    height: 28px;
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #5b5d5e;
    outline: 0;
    width: 184px;
}

.txtarea {
    width: 350px;
    height: 100px;
    border: none;
    border: 1px solid #757575;
    outline: 0;
    resize: none;
    overflow-y: scroll;
}

/*-------------------required------------------*/

.required {
    color: red;
    font-size: 0.3rem;
    padding-left: 3px;
}

/*-------------------menuIcon------------------*/
.orgMenuIcon {
    border: 0px;
    width: 35px;
    height: 35px;
    background: url(../image/org.svg) left top no-repeat;
    background-size: 35px 35px;
    display: inline-block;
    vertical-align: middle;
}
.courseMenuIcon {
    border: 0px;
    width: 35px;
    height: 35px;
    background: url(../image/sw.svg) left top no-repeat;
    background-size: 35px 35px;
    display: inline-block;
    vertical-align: middle;
}
.noticeMenuIcon {
    border: 0px;
    width: 35px;
    height: 35px;
    background: url(../image/notice.svg) left top no-repeat;
    background-size: 35px 35px;
    display: inline-block;
    vertical-align: middle;
}
.settingMenuIcon {
    border: 0px;
    width: 35px;
    height: 35px;
    background: url(../image/setting.svg) left top no-repeat;
    background-size: 35px 35px;
    display: inline-block;
    vertical-align: middle;
}
.testMenuIcon {
    border: 0px;
    width: 35px;
    height: 35px;
    background: url(../image/test.svg) left top no-repeat;
    background-size: 35px 35px;
    display: inline-block;
    vertical-align: middle;
}
.testInfoMenuIcon {
    border: 0px;
    width: 35px;
    height: 35px;
    background: url(../image/test_info.svg) left top no-repeat;
    background-size: 35px 35px;
    display: inline-block;
    vertical-align: middle;
}
.logoutMenuIcon {
    border: 0px;
    width: 35px;
    height: 35px;
    background: url(../image/logout.svg) left top no-repeat;
    background-size: 35px 35px;
    display: inline-block;
    vertical-align: middle;
}
.reportMenuIcon {
    border: 0px;
    width: 35px;
    height: 35px;
    background: url(../image/report.svg) left top no-repeat;
    background-size: 35px 35px;
    display: inline-block;
    vertical-align: middle;
}
.wordMenuIcon {
    border: 0px;
    width: 35px;
    height: 35px;
    background: url(../image/wordbook.svg) left top no-repeat;
    background-size: 35px 35px;
    display: inline-block;
    vertical-align: middle;
}
.wordMenuIcon1 {
    border: 0px;
    width: 35px;
    height: 35px;
    background: url(../image/book.png) left top no-repeat;
    background-size: 40px 40px;
    display: inline-block;
    vertical-align: middle;
}

/*-------------------menu------------------*/

.menu-label {
    align-top: 15px;
    padding-left: 5px;
}

.pushmenu {
    /*this is the nav*/
    background: #ffffff;
    font-family: Arial, Helvetics, sans-serif;
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
    position: fixed;
    box-shadow: 2px 0px 5px 2px rgba(0, 0, 0, 0.15);
    color: #666666;
    font-size: 13px;
}

.pushmenu h3 {
    font-weight: normal;
    font-size: 15px;
    height: 40px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    //border-bottom: 0.01em solid #EEEEEE;
    //border-bottom-style: ridge;
    font-family: Arial, Helvetics, sans-serif;
    color: #666666;
    font-weight: bold;
}

.drawer-menu {
    font-weight: normal;
    margin: 0;
    background: #ffffff;
}

.pushmenu ul {
    font-weight: normal;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.pushmenu a {
    display: block; /* drops the nav vertically*/
    color: #666666;
    font-weight: normal;
    text-decoration: none;
    padding: 10px;
}

.pushmenu a:hover {
    background: #f0f0f0;
}

.pushmenu a:active {
    background: #d0d0d0;
}

.pushmenu-left {
    left: -240px;
}

.pushmenu-left.pushmenu-open {
    left: 0;
}

.pushmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.pushmenu-push-toright {
    left: 240px;
    width: -webkit-calc(100% - 240px);
}

/*Transition*/
.pushmenu,
.pushmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#nav_list {
    background: url(../image/icon_nav.png) no-repeat left top;
    cursor: pointer;
    height: 35px;
    width: 33px;
    text-indent: -99999em;
    float: left;
    margin-top: 5px;
}
#nav_right {
    text-align: right !important;
    color: blue;
    font-size: 25px;
    cursor: pointer;
    height: 27px;
    width: auto;
    text-indent: -99999em;
    float: right;
    padding: auto;
    padding-right: 300px !important;
    margin: auto;
    color: #8acbfc;
    text-shadow: 2px 2px 4px #000000;
}

#nav_head {
    cursor: pointer;
    height: 27px;
    width: 33px;
    text-indent: -99999em;
}

nav-list.active {
    background-position: -33px top;
}

.buttonset {
    background-color: #e6b9b8;
    height: 30px;
    padding: 10px 20px 20px;
    box-shadow: 2px 0px 7px 3px rgba(0, 0, 0, 0.25);
    padding: auto;
}
/* drop down outer */
.drawer-dropdown {
}

.drawer-dropdown.open {
    border-top: 0.01em solid #eeeeee;
    border-top-style: ridge;
    border-bottom: 0.01em solid #eeeeee;
    border-bottom-style: ridge;
}

/* drop down parent */
.drawer-menu-item {
}

/* drawer-menu * /

.drawer-menu {


}

/* drop down child-outer */
.drawer-dropdown-menu {
}

/* drop down child-item */
.drawer-dropdown-menu-item {
    padding-left: 50px !important;
}

/* open close image */
.drawer-caret {
}

/*! drawer-caret (toggle image)*/
.drawer-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 4px;
    transition: transform 0.2s ease, opacity 0.2s ease;
    transform: rotate(0deg);
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

/*! open */
.drawer-caret.open {
    transform: rotate(180deg);
}

/*-------------------menu------------------*/

/** error*/
.error_section {
    padding: 20px;
    color: #ff4500;
    height: 100%;
    display: none;
    background-color: rgba(255, 165, 0, 0.7);
}
.error_msg {
    display: inline-flex; /* Safari */
    inline-flex-wrap: wrap; /* Safari 6.1+ */
    flex-wrap: wrap;
    word-break: break-all;
}

.error_msg div {
    text-align: right;
    width: auto;
    height: auto;
}

/*----------common.css---------------*/

.pagging {
    display: inline-block;
    text-align: right;
    width: 100%;
    padding-top: 10px;
}

.td_text_overflow {
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}

.group {
    width: 550px;
    clear: both;
    padding: 0px 400px;
}

.grp_table {
    padding-top: 30px;
    height: 400px;
    width: 400px;
}

.text_box {
    width: 200px;
    border: none;
    border-bottom: 1px solid #757575;
    outline: 0;
    padding: 7px;
}

.lbl_name {
    padding: 10px;
}

select {
    width: 265px;
    border: none;
    border-bottom: 1px solid #757575;
    outline: 0;
    padding: 7px;
}

#start_period,
#end_period,
#start_dt,
#end_dt,
#enroll_dt,
#graduation_dt,
#lesson_start_period,
#lesson_end_period,
#stu_course_start_period,
#stu_course_end_period,
#org_start_date,
#org_end_date,
#contract_start_dt,
#contract_end_dt,
#start_period_start,
#start_period_end,
#end_period_start,
#end_period_end {
    width: 170px;
    border: none;
    border-bottom: 1px solid #757575;
    outline: 0;
    background-repeat: no-repeat;
    background-position: right;
    padding: 7px;
}

.ui-datepicker {
    margin-right: -50px;
}

.insert_btn {
    padding: 20px;
    float: right;
}

.insert {
    border: none;
    outline: 0;
}
.tbl_insert td,
tr {
    padding: 5px;
}

.tbl_insert {
    padding: 30px 0px;
}

/*:::  2018/01/16 Cherry �쐬�@���ʕ�   :*/

/********************************************
            �ꗗ��ʃO���b�h
/********************************************/
.tbl_search tr:nth-child(even) {
    background-color: #f4e9e9;
}

.tbl_search tr:nth-child(odd) {
    background-color: #e8d0d0;
}

.tbl_search tr:hover {
    background-color: #ddd;
}

.tbl_search th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    background-color: #e6b9b8;
    color: white;
    font-weight: normal;
    padding-left: 5px;
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
}
.tbl_search {
    border-collapse: collapse;
    width: 100%;
}

.tbl_search td,
th {
    border: none;
}

.tbl_search tbody {
    max-height: 450px;
    /* display: inline-block; */
    overflow-y: auto;
    width: 100%;
    text-align: left;
}

.task_div table tr,
td {
    height: 30px;
}
/********************************************
            �ꗗ��ʃO���b�h���ʗ�
/********************************************/
.td_status {
    width: 100px;
    white-space: nowrap;
}

.td_img {
    width: 55px;
}

.td_period {
    width: 130px;
    white-space: nowrap;
}

.td_period_one_row {
    width: 350px;
    white-space: nowrap;
}

.td_scroll_col {
    width: 25px;
}

.td_lesson_name {
    width: 250px;
    word-break: break-all;
}
.td_group_name {
    width: 250px;
    word-break: break-all;
}

.td_count {
    width: 70px;
    word-break: break-all;
}

.td_name {
    width: 200px;
}

.td_mgr_name {
    width: 280px;
}

.td_mgr_name_kana {
    width: 280px;
}

.td_login_id {
    width: 250px;
}

.td_subject_name {
    width: 270px;
}

.td_subject_name_kana {
    width: 300px;
}

.td_answer {
    width: 60px;
}

/*------base.css-------------*/

table.search_add {
    width: 80%;
    /*width:1200px;*/
    border-collapse: collapse;
    display: block;
    margin-bottom: 10px;
    text-align: right;
}
.tbl_right_align {
    width: 300px !important;
}

.right {
    float: right;
}

.tbl_search_btn {
    width: 1000px;
    float: right;
}

.txt_left {
    padding-left: 50px !important;
}

.td_nameKana {
    width: 120px;
}

.td_id {
    width: 100px;
}

.td_date {
    width: 260px;
}

.td_edit {
    width: 60px;
}

.main_div {
    padding-left: 250px;
}
.err_msg_box {
    color: #ff0000 !important;
    overflow: auto;
    height: 50px;
}
.msg_box {
    color: #ff0000 !important;
    overflow: auto;
    height: 50px;
}

.text_box {
    width: 190px;
    border: none;
    border-bottom: 1px solid #757575;
    outline: 0;
    padding: 7px;
}

table.search_question_border {
    /* table-layout: fixed; */
    width: 100%;
    border-collapse: collapse;
    display: block;
    margin-bottom: 50px;
}

.search_question_border thead {
    display: inline-block;
}
.search_question_border tbody {
    max-height: 260px;
    display: block;
    overflow-y: auto;
}

.search_question_border tr {
    height: 30px !important;
}

.search_question_border td,
.search_question_border th {
    border-bottom: 1px solid #5b5d5e;
    padding: 8px;
    text-align: left;
}
table.qa_regist_tbl {
    border-collapse: collapse;
    padding: 3px;
}
.qa_regist_tbl td {
    padding: 3px;
}
input:disabled {
    /* background-color: #ffffff;*/
    opacity: 0.5;
}

.lblmsgconfirm {
    border: none;
    outline: 0;
}

.msgtd {
    max-height: 60px;
    width: 400px;
    overflow-y: auto;
    margin-top: 10px;
    overflow-x: hidden;
    word-break: break-all;
}

.btn_send {
    background: url(../image/send.png);
    background-color: none;
    background-repeat: no-repeat;
    width: 70px;
    height: 30px;
    border: 0;
    text-align: right;
    font-size: 16px;
}

/*----------------form.css-----------------*/

.main_tbl {
    width: 100%;
}

.main_tbl td {
    padding-right: 10px;
}

table.search_add {
    width: 100%;
    border-collapse: collapse;
    display: block;
    margin-bottom: 10px;
    text-align: right;
}
.tbl_right_align {
    width: 300px !important;
}

.tbl_studgrup_lbl td {
    padding-right: 80px;
}

.right {
    float: right;
}

table.search_header_border {
    width: 100%;
    border-collapse: collapse;
    display: block;
    margin-bottom: 10px;
}
.search_header_border thead {
    display: inline-block;
    width: 100%;
}
.search_header_border tbody {
    max-height: 260px;
    display: inline-block;
    overflow: auto;
    width: 100%;
}

.search_header_border tr {
    height: 30px !important;
}

.sub_edit_col {
    width: 150px !important;
}
.sub_time_interval {
    width: 400px !important;
}
.sub_name {
    width: 300px !important;
}

.search_header_border td,
.search_header_border th {
    border-bottom: 1px solid #5b5d5e;
    padding: 5px;
    text-align: left;
}

.tbl_search_btn {
    width: 1000px;
    float: right;
}

thead {
    background-color: #f8f8f8;
}

.txt_left {
    padding-left: 50px !important;
}

.td_nameKana {
    width: 120px;
}

.td_id {
    width: 100px;
}

.td_date {
    width: 260px;
}

.td_edit {
    width: 60px;
}

.btn_search {
    background: url(../image/search.svg);
    background-color: none;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: 0;
    font-size: 16px;
}
.btn_search1 {
    background: url(../image/search-paper.svg);
    background-color: none;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: 0;
    font-size: 16px;
}

.btn_add {
    background: url(../image/regist.svg);
    background-color: none;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: 0;
    text-align: right;
    font-size: 16px;
}

.btn_add1 {
    background: url(../image/new.png);
    background-color: none;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border: 0;
    text-align: right;
    font-size: 16px;
    margin-left: 750px;
    z-index: 2;
    position: absolute;
    right: 160px;
    margin-top: -40px;
}

.btn_close {
    background: url(../image/close_icon.png);
    background-color: none;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: 0;
    text-align: right;
    font-size: 16px;
}

.btn_help {
    background: url(../image/help.png);
    background-color: none;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border: 0;
    font-size: 16px;
}

.btn_edit {
    background: url(../image/edit.svg);
    background-color: none;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 0;
    text-align: right;
    font-size: 16px;
}
.btn_edit1 {
    background: url(../image/edit.png);
    background-color: none;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 0;
    text-align: right;
    font-size: 16px;
}

.btn_copy {
    background: url(../image/copy.svg);
    background-color: none;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 0;
    text-align: right;
    font-size: 16px;
}

.btn_group_ref {
    background: url(../image/edit.svg);
    background-color: none;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: 0;
    text-align: right;
    font-size: 16px;
}

.btn_group_assign {
    background: url(../image/group_assign.svg);
    background-color: none;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: 0;
    text-align: right;
    font-size: 16px;
}

.btn_qa_assign {
    background: url(../image/quiz_assign.svg);
    background-color: none;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 0;
    text-align: right;
    font-size: 16px;
    margin-left: 10px;
}

.btn_group_assign_list {
    background: url(../image/group_assign.svg);
    background-color: none;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 0;
    text-align: right;
    font-size: 16px;
}

.btn_student_assign_list {
    background: url(../image/user_assign.svg);
    background-color: none;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 0;
    text-align: right;
    font-size: 16px;
}

.btn_quiz_assign_list {
    background: url(../image/quiz_assign.svg);
    background-color: none;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 0;
    text-align: right;
    font-size: 16px;
}

.btn_csv_dl {
    background: url(../image/file_download.svg);
    background-color: none;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: 0;
    text-align: right;
    font-size: 16px;
}

.btn_all_dl {
    background: url(../image/download.svg);
    background-color: none;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: 0;
}

.btn_delete {
    background: url(../image/delete.svg);
    background-color: none;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: 0;
}

.btn_delete1 {
    background: url(../image/delete.png);
    background-color: none;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    border: 0;
}

.btn_retake {
    background: url(../image/retake.svg);
    background-color: none;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: 0;
}

.btn_dl {
    background: url(../image/download.svg);
    background-color: none;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 0;
}

.btn_student_ref {
    background: url(../image/users_ref.svg);
    background-color: none;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: 0;
}

.btn_test_assign {
    background: url(../image/test_assign.svg);
    background-color: none;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: 0;
}

.btn_confirm {
    background: url(../image/check.svg);
    background-color: none;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 0;
}

.btn_mng_assign_list {
    background: url(../image/users_add.svg);
    background-color: none;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 0;
}

.btn_mng_assign {
    background: url(../image/users_add.svg);
    background-color: none;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: 0;
}

.btn_preview_list {
    background: url(../image/preview.svg);
    background-color: none;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 0;
}

.btn_preview {
    background: url(../image/preview.svg);
    background-color: none;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 0;
}

.btn_qa_plus {
    background: url(../image/qa_plus.svg);
    background-color: none;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: 0;
}

.btn_setting {
    background: url(../image/setting.svg);
    background-color: none;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 0;
    text-align: right;
    font-size: 16px;
}

.title {
    color: #85acb6;
    font-size: 14px;
    padding: 7px;
}

.main_div {
    padding-left: 250px;
}
.err_msg_box {
    color: #ff0000 !important;
    overflow: auto;
    height: 50px;
}
.msg_box {
    color: #ff0000 !important;
    overflow: auto;
    height: 50px;
}

.btn_new_groupStu {
    background: url(../image/group_assign.svg);
    background-color: none;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    border: 0;
    font-size: 16px;
    height: 35px;
    width: 35px;
}
.btn_insert {
    background: url(../image/regist2.svg);
    background-color: none;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: 0;
}
.btn_insert1 {
    background: url(../image/save.png);
    background-color: none;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border: 0;
}
.btn_back {
    background: url(../image/back.svg);
    background-color: none;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: 0;
    text-align: right;
    font-size: 16px;
}
.btn_back1 {
    background: url(../image/back.png);
    background-color: none;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border: 0;
    text-align: right;
    font-size: 16px;
}
.td_one {
    padding-right: 150px;
}

.td_two {
    padding-right: 60px;
}

input[type="button"].button {
    width: 60px;
    background: #40a5c6;
    color: #fff;
    border: 1px solid black;
    padding: 1px;
    font-size: 8px;
    cursor: pointer;
    border-radius: 1px;
}
input[type="button"].csv {
    float: right;
    width: 80px;
    background: #40a5c6;
    color: #fff;
    border: 1px solid black;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 1px;
    margin: left;
}

.btn_sdown {
    background: url(../image/download.svg);
    background-color: none;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: 0;
    text-align: right;
    font-size: 16px;
}

.btn_down {
    background: url(../image/download.svg);
    background-color: none;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: 0;
    text-align: right;
    font-size: 16px;
}

.btn_message {
    background: url(../image/message.svg);
    background-color: none;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    border: 0;
}

.quiz_btn {
    background: url(../image/quiz_assign.svg);
    background-color: none;
    background-repeat: no-repeat;
    width: 115px;
    height: 35px;
    padding-left: 35px;
    border: 0;
    text-align: right;
    font-size: 16px;
}

.btn_resetbtn {
    background: url(../image/reset.svg);
    background-color: none;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: 0;
    text-align: right;
    font-size: 16px;
    margin-right: 50px;
}

.td_input {
    padding-right: 40px;
}

table.myTable {
    counter-reset: rowNumber;
}
table.myTable tr {
    counter-increment: rowNumber;
}

/*----------------�ꗗ��ʗp-----------------*/

.tblList {
    border-collapse: collapse;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
}

.tblList td,
th {
    padding: 8px;
}

.tblList tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tblList tr:hover {
    background-color: #ddd;
}

.tblListHeader th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    background-color: #b7dee8;
    color: white;
    font-weight: normal;
}
.tblListHeader {
    border-collapse: collapse;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
}

.tblListHeader td,
th {
    padding-left: 8px;
}

.task_select {
    width: 265px;
    border: 1px solid #757575;
    outline: 0;
    padding: 7px;
    margin-right: -125px;
}

.message_select {
    border: 1px solid #757575;
}

.close_icon {
    width: 15px;
    float: right;
}

.stu_cd_edit td {
    padding-right: 50px;
}
.margin_btm20 {
    margin-bottom: 20px;
}
.div_stucd_edit {
    border-color: #841313;
    border-radius: 20px;
    border-style: solid;
    margin-bottom: 20px;
    padding: 7px;
    padding-left: 30px;
}

.edit_title {
    font-weight: 6em;
}

@font-face {
    font-family: DroidSansMono;
    src: url(../css/DroidSansMono.ttf);
}

#left_student_list,
#right_student_list {
    font-family: DroidSansMono, monospace;
}

.incharge_color {
    background-color: #ccccf3 !important;
}

.student_color {
    background-color: #b6d8b6 !important;
}

.mark_color {
    background-color: #f3cfd5 !important;
}

#maintenace_div {
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 28px;
    color: #f50404;
    font-weight: bold;
}

#teacher_course_detail_list_wrapper .dataTables_scrollHeadInner,
#teacher_course_detail_list_wrapper .dataTable {
    width: 100% !important;
}

#teacher_course_detail_list_wrapper table tr {
    text-align: left;
}

#teacher_course_detail_list_wrapper table thead {
    background-color: #e6b9b8 !important;
}

#quiz_assign_tbl_cb td:nth-child(1),
#quiz_assign_tbl_cb th:nth-child(1),
#quiz_tbl td:nth-child(1),
#quiz_tbl th:nth-child(1),
#quiz_assign_tbl td:nth-child(1),
#quiz_assign_tbl th:nth-child(1) {
    width: 5%;
    text-align: left !important;
}

#quiz_assign_tbl_cb td:nth-child(2),
#quiz_assign_tbl_cb th:nth-child(2),
#quiz_tbl td:nth-child(2),
#quiz_tbl th:nth-child(2),
#quiz_assign_tbl td:nth-child(2),
#quiz_assign_tbl th:nth-child(2) {
    width: 25%;
    text-align: left !important;
}

#quiz_assign_tbl_cb td:nth-child(3),
#quiz_assign_tbl_cb th:nth-child(3),
#quiz_tbl td:nth-child(3),
#quiz_tbl th:nth-child(3),
#quiz_assign_tbl td:nth-child(3),
#quiz_assign_tbl th:nth-child(3) {
    width: 35%;
    text-align: left !important;
}

#quiz_assign_tbl_cb td:nth-child(4),
#quiz_assign_tbl_cb th:nth-child(4),
#quiz_tbl td:nth-child(4),
#quiz_tbl th:nth-child(4),
#quiz_assign_tbl td:nth-child(4),
#quiz_assign_tbl th:nth-child(4) {
    width: 15%;
    text-align: center !important;
}

#quiz_assign_tbl_cb td:nth-child(5),
#quiz_assign_tbl_cb th:nth-child(5),
#quiz_tbl td:nth-child(5),
#quiz_tbl th:nth-child(5),
#quiz_assign_tbl td:nth-child(5),
#quiz_assign_tbl th:nth-child(5) {
    width: 20%;
    text-align: left !important;
}

#quiz_assign_tbl tbody td {
    word-break: break-word;
}

#quiz_assign_tbl_cb tbody td {
    word-break: break-word;
}

#quiz_assign_tbl_cb {
    border-collapse: collapse;
    font-size: 1em;
    width: 100%;
}

#quiz_assign_tbl thead tr {
    width: 100%;
}

.imgtxtarea {
    width: 800px;
    height: 100px;
    border: none;
    border: 1px solid #757575;
    outline: 0;
    resize: none;
    overflow-y: scroll;
}

.btn_test_info_assign {
    background: url(../image/test_assign.svg);
    background-color: none;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border: 0;
}

.btn_test_info_assign_list {
    background: url(../image/test_assign.svg);
    background-color: none;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 0;
}

#test_assign_tbl_cb td:nth-child(1),
#test_assign_tbl_cb th:nth-child(1),
#test_tbl td:nth-child(1),
#test_tbl th:nth-child(1),
#test_assign_tbl td:nth-child(1),
#test_assign_tbl th:nth-child(1) {
    width: 5%;
    text-align: left !important;
}

#test_assign_tbl_cb td:nth-child(2),
#test_assign_tbl_cb th:nth-child(2),
#test_tbl td:nth-child(2),
#test_tbl th:nth-child(2),
#test_assign_tbl td:nth-child(2),
#test_assign_tbl th:nth-child(2) {
    width: 25%;
    text-align: left !important;
}

#test_assign_tbl_cb td:nth-child(3),
#test_assign_tbl_cb th:nth-child(3),
#test_tbl td:nth-child(3),
#test_tbl th:nth-child(3),
#test_assign_tbl td:nth-child(3),
#test_assign_tbl th:nth-child(3) {
    width: 35%;
    text-align: left !important;
}

#test_assign_tbl_cb td:nth-child(4),
#test_assign_tbl_cb th:nth-child(4),
#test_tbl td:nth-child(4),
#test_tbl th:nth-child(4),
#test_assign_tbl td:nth-child(4),
#test_assign_tbl th:nth-child(4) {
    width: 15%;
    text-align: center !important;
}

#test_assign_tbl_cb td:nth-child(5),
#test_assign_tbl_cb th:nth-child(5),
#test_tbl td:nth-child(5),
#test_tbl th:nth-child(5),
#test_assign_tbl td:nth-child(5),
#test_assign_tbl th:nth-child(5) {
    width: 20%;
    text-align: left !important;
}

#test_assign_tbl tbody td {
    word-break: break-word;
}

#test_assign_tbl_cb tbody td {
    word-break: break-word;
}

#test_assign_tbl_cb {
    border-collapse: collapse;
    font-size: 1em;
    width: 100%;
}

#test_assign_tbl thead tr {
    width: 100%;
}

.btn-sound_list {
    background: url(../image/play.svg) no-repeat;
    width: 30px;
    height: 30px;
    border: 0;
}

/********************************************/
/* AT　レポート一覧データテーブル用
/********************************************/
.tbl_search_at tr:nth-child(even) {
    background-color: #f4e9e9;
}

.tbl_search_at tr:nth-child(odd) {
    background-color: #e8d0d0;
}

.tbl_search_at tr:hover {
    background-color: #ddd;
}

.tbl_search_at th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    background-color: #e6b9b8;
    color: white;
    font-weight: normal;
    padding-left: 5px;
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
}
.tbl_search_at {
    border-collapse: collapse;
    width: 100%;
}

.tbl_search_at td,
th {
    border: none;
    text-align: left;
}

.tbl_search_at tbody {
    max-height: 450px;
    overflow-y: auto;
    width: 100%;
    text-align: left;
}

.btn_course_assign_list {
    background: url(../image/regist.svg);
    background-color: none;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 0;
}

/********************************************
            メニュー設定テーブル
/********************************************/
.tbl_menu tr:nth-child(even) {
    background-color: #f4e9e9;
}

.tbl_menu tr:nth-child(odd) {
    background-color: #e8d0d0;
}

.tbl_menu tr:hover {
    background-color: #ddd;
}

.tbl_menu th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    background-color: #e6b9b8;
    color: white;
    font-weight: normal;
    padding-left: 5px;
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
}
.tbl_menu {
    border-collapse: collapse;
}

.tbl_menu td,
th {
    border: none;
}

.tbl_menu tbody {
    /* display: inline-block; */
    overflow-y: auto;
    text-align: left;
}

/* text to speech using php by STTO */
.btn-sound_list1 {
    background: url(../image/voices.png);
    background-color: none;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 0;
    margin-left: 40px;
    text-align: right;
    font-size: 16px;
}

/* text to speech using php by NMZ */
.btn_sound {
    background: url(../image/microphone.png);
    background-color: none;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 0;
    text-align: right;
    font-size: 16px;
}
