
.lowertbl_td {
	background-color: #ADD8E6;
	border-bottom:2px solid #1aa0bc;
	width:100%;
	height:25px;
}

.lowertbl_table {
	width: 100%;
}
.btn_div {
	float: right;
}

.btn_reset {
	background: url(../image/reset.png);
	background-color: none;
	background-repeat: no-repeat;
	width: 85px;
	height: 25px;
	border: 0;
	text-align: right;
	font-size: 16px;
}
.btn_remove {
	background: url(../image/remove.svg);
	background-color: none;
	background-repeat: no-repeat;
	width: 70px;
	height: 25px;
	border: 0;
	text-align: right;
	font-size: 16px;
}

.btn_join_insert {
	background: url(../image/insert.png);
	background-color: none;
	background-repeat: no-repeat;
	width: 60px;
	height: 25px;
	border: 0;
	text-align: right;
	font-size: 16px;
}

table.join_header_border {
	width:100% ;
	border-collapse: collapse;
	display:block;
	margin-bottom: 10px;
}
.join_header_border thead {
    display: inline-block;
    width: 100%;
	text-align: left;
	background-color: #B7DEE8;
	color: white;
	font-weight:normal;
}
.join_header_border tbody{
    display: inline-block;
    height:110px;
    width: 100%;
    overflow-y: auto;
}
.join_header_border td{
	border-bottom: 1px solid #5b5d5e;
	padding: 3px;
	text-align: left;
}
.join_header_border th{
	text-align: left;
	background-color: #B7DEE8;
	color: white;
	font-weight:normal;
}
table.join_header_border_quiz {
	width:100% ;
	border-collapse: collapse;
	display:block;
	margin-bottom: 10px;
}
.join_header_border_quiz thead {
	display: inline-block;
	width: 100%;
	text-align: left;
	background-color: #B7DEE8;
	color: white;
	font-weight:normal;
	height: 50px;
	padding-top: 10px;
}
.join_header_border_quiz tbody{
	display: inline-block;
	height:250px;
	width: 100%;
	overflow-y: auto;
}
.join_header_border_quiz td{
	border-bottom: 1px solid #5b5d5e;
	padding: 3px;
	text-align: left;
}
.join_header_border_quiz th{
	text-align: left;
	background-color: #B7DEE8;
	color: white;
	font-weight:normal;
}

