<!DOCTYPE html>
<html>
<head>
	<title>クイズ出題順</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="robots" content="noindex, nofollow">
	<meta name="googlebot" content="noindex, nofollow">
	{literal}
    <script type="text/javascript" src="{/literal}{$smarty.const.HOME_DIR}{literal}js/jquery.min.js"></script>
    <script type="text/javascript" src="{/literal}{$smarty.const.HOME_DIR}{literal}js/jquery-ui.js"></script>
    <script type="text/javascript" src="{/literal}{$smarty.const.HOME_DIR}{literal}js/escape.js"></script>
    <script type="text/javascript" src="{/literal}{$smarty.const.HOME_DIR}{literal}js/quizInfoAssignment.js"></script>
    {/literal}
	<link href="{$smarty.const.HOME_DIR}css/jquery-ui.css" rel="stylesheet">
	<link href="{$smarty.const.HOME_DIR}css/default.css" rel="stylesheet">
    <link href="{$smarty.const.HOME_DIR}css/quizInfoAssignment.css"	rel="stylesheet">
	</head>
<body class="pushmenu-push">
	<form id="main_form" action="{$smarty.const.HOME_DIR}QuizInfoAssignment/save" method="post">
	     <input type="hidden" id ="manager_no" name="manager_no"/>
		{include file='leftMenu.html'}
			<div class="divHeader">
				<!--header-->
					{include file='header.html'}
				<!--header-->
			</div>
			<div class="divBody">
				<section class="error_section">
					<img src="{$smarty.const.HOME_DIR}image/close_icon.png" style="width:15px;float:right" class="close_icon">
					    {if !empty($err_msg)}
						<div class="error_msg">{$err_msg}</div>
						{else}
						<div class="error_msg"></div>
						{/if}
				</section>
				<section class="content">
						<p>
							><span class="title">試験情報 / クイズ出題順</span>
						</p>
						<p style="text-align:right;width:100%;">
							<input type="button" title="戻る" value="" class="btn_back" onclick="javascript:doBack('{$smarty.const.HOME_DIR}QuizInfoAssignment/back')">
						</p>
						<input type="hidden" id="page" name="page" value="{$form->page}" />
						<input type="hidden" id="home_dir" value="{$smarty.const.HOME_DIR}" />
						<input type="hidden" id="entryList" name="entryList" value=""/>
						<input type="hidden" name="test_info_no" id="test_info_no" value="{$form->test_info_no}"/>
						<input type="hidden" id="search_page" name="search_page" value="{$form->search_page}"/>
						<input type="hidden" id="search_start_period" name="search_start_period" value="{$form->search_start_period}"/>
						<input type="hidden" id="search_end_period" name="search_end_period" value="{$form->search_end_period}"/>
						<input type="hidden" id="search_test_info_name" name="search_test_info_name" value="{$form->search_test_info_name|escape}"/>
						<input type="hidden" id="search_remark" name="search_remark" value="{$form->search_remark|escape}"/>
						<input type="hidden" id="search_rd_status1" name="search_rd_status1" value="{$form->search_rd_status1}"/>
						<input type="hidden" id="search_rd_status2" name="search_rd_status2" value="{$form->search_rd_status2}"/>
						<input type="hidden" id="search_rdstatus" name="search_rdstatus" value="{$form->search_rdstatus}"/>
						<input type="hidden" id="search_chk_status1" name="search_chk_status1" value="{$form->search_chk_status1}"/>
						<input type="hidden" id="search_chk_status2" name="search_chk_status2" value="{$form->search_chk_status2}"/>
						<input type="hidden" id="search_status" name="search_status" value="{$form->search_status}"/>
						<input type="hidden" id="search_page_row_til" name="search_page_row_til" value="{$form->search_page_row_til}" />
						<input type="hidden" id="search_page_order_column_til" name="search_page_order_column_til" value="{$form->search_page_order_column_til}" />
						<input type="hidden" id="search_page_order_dir_til" name="search_page_order_dir_til" value="{$form->search_page_order_dir_til}" />
						<input type="hidden" id="search_page_til" name="search_page_til" value="{$form->search_page_til}" />
						<input type="hidden" id="search_org_id" name="search_org_id" value="{$form->search_org_id}" /> 
						<input type="hidden" id="org_no" name="org_no" value="{$form->org_no}"/>
						<table class="testAss_tbl">
							<tr>
								<td class="td_two">試験名</td>
								<td class="td_input">{$form->test_info_name|escape}</td>
							</tr>
							<tr>
								<td class="td_two">利用期間</td>
								<td class="td_input">{$form->start_period}~{$form->end_period}</td>
							</tr>
						</table>
						<br>
						<table id="testAss_lowertbl1" class="myTable join_header_border_quiz">
								<thead>
									<tr>
										<th style="width:150px; ">番号</th>
										<th style="width:300px; ">クイズ名</th>
										<th style="width:700px; ">問題</th>
										<th style="width:100px; "></th>
									</tr>
								</thead>
								 {if count($addlist) == 1}
								 <tbody>
									{foreach $addlist as $result}
									<tr style="width:100%;">
										<td style="width:150px;">{$result->rowno}</td>
										<td style="width:300px;">{$result->quiz_name|escape}</td>
										<td style="width:700px;">{$result->long_description}</td>
										<td style="width:100px; text-align:center;">
											 <button style="background-color:#fff;border:0px;" disabled="disabled" onClick="MoveUp.call(this);return false;"><img src="{$smarty.const.HOME_DIR}image/up.svg" style="width: 25px;height:25px;"/></button>
											<button style="background-color:#fff;border:0px;"  disabled="disabled" onClick="MoveDown.call(this);return false;"><img src="{$smarty.const.HOME_DIR}image/down.svg"  style="width: 25px;height:25px;"/></button>
										</td>
										<td>{$result->quiz_info_no}</td>
									</tr>
									{/foreach}
								</tbody>
								{else}
								<tbody>
									{foreach $addlist as $key =>$result}
									{if $key == 0}
										<tr style="width:100%;">
										<td style="width:150px;">{$result->rowno}</td>
										<td style="width:300px;">{$result->quiz_name|escape}</td>
										<td style="width:700px;">{$result->long_description}</td>
										<td style="width:100px; text-align:center;">
											 <button style="background-color:#fff;border:0px;" disabled="disabled" onClick="MoveUp.call(this);return false;"><img src="{$smarty.const.HOME_DIR}image/up.svg" style="width: 25px;height:25px;"/></button>
		                                     <button style="background-color:#fff;border:0px;" onClick="MoveDown.call(this);return false;"><img src="{$smarty.const.HOME_DIR}image/down.svg"  style="width: 25px;height:25px;"/></button>
										</td>
										<td>{$result->quiz_info_no}</td>
										</tr>
									{else if $key == count($addlist)-1}
										<tr style="width:100%;">
										<td style="width:150px;">{$result->rowno}</td>
										<td style="width:300px;">{$result->quiz_name|escape}</td>
										<td style="width:700px;">{$result->long_description}</td>
										<td style="width:100px; text-align:center;">
											 <button style="background-color:#fff;border:0px;" onClick="MoveUp.call(this);return false;"><img src="{$smarty.const.HOME_DIR}image/up.svg" style="width: 25px;height:25px;"/></button>
		                                     <button style="background-color:#fff;border:0px;" disabled="disabled"  onClick="MoveDown.call(this);return false;"><img src="{$smarty.const.HOME_DIR}image/down.svg"  style="width: 25px;height:25px;"/></button>
										</td>
										<td>{$result->quiz_info_no}</td>
										</tr>
									{else}
									<tr style="width:100%;">
										<td style="width:150px;">{$result->rowno}</td>
										<td style="width:300px;">{$result->quiz_name|escape}</td>
										<td style="width:700px;">{$result->long_description}</td>
										<td style="width:100px; text-align:center;">
											 <button style="background-color:#fff;border:0px;" onClick="MoveUp.call(this);return false;"><img src="{$smarty.const.HOME_DIR}image/up.svg" style="width: 25px;height:25px;"/></button>
		                                     <button style="background-color:#fff;border:0px;" onClick="MoveDown.call(this);return false;"><img src="{$smarty.const.HOME_DIR}image/down.svg"  style="width: 25px;height:25px;"/></button>
										</td>
										<td>{$result->quiz_info_no}</td>
									</tr>
									{/if}
									{/foreach}
								</tbody>
								{/if}
							</table>
			<table class="btn_div">
				<tr>
					<td>
					<input type="button" value="" class="btn_resetbtn" title="リセット"
					onclick="javascript:cancel('{$form->test_info_no}','{$smarty.const.HOME_DIR}QuizInfoAssignment/index');">
					<input type="button" name="insert" value="" class="btn_insert" title="登録"
					onclick="javascript:insertQuizInfoAssignmentData();" />
					</td>
				</tr>
			</table>
				</section>
			</div>
			<!--footer-->
				{include file='footer.html'}
			<!--footer-->
	</form>

	<script>
		{literal}
			//ページング
			function doPage(pageNo){
				$("#page").val(pageNo);
				$("#main_form").submit();
			}

			//更新ボタン処理
			function trans(manager_no,action){

				var menuOpen = document.getElementById('menuOpen').value;
		        var menuStatus = document.getElementById('menuStatus').value;
				$("#main_form").attr("action", action);
			    $("#manager_no").val(manager_no);
			    $("#menuOpen").val(menuOpen);
			    $("#menuStatus").val(menuStatus);
			    $("#main_form").submit();
			}

			//登録ボタン処理
			function doInsert(action){

				 var menuOpen = document.getElementById('menuOpen').value;
		         var menuStatus = document.getElementById('menuStatus').value;
				 $("#main_form").attr("action", action);
			     $("#menuOpen").val(menuOpen);
			     $("#menuStatus").val(menuStatus);
			     $("#main_form").submit();
			}

			//登録ボタン処理
			function doBack(action){

				var menuOpen = document.getElementById('menuOpen').value;
		        var menuStatus = document.getElementById('menuStatus').value;
				$("#main_form").attr("action", action);
			    $("#menuOpen").val(menuOpen);
			    $("#menuStatus").val(menuStatus);
			    $("#main_form").submit();
			}

			//リセット
			function cancel(test_info_no, action){

				var menuOpen = document.getElementById('menuOpen').value;
			    var menuStatus = document.getElementById('menuStatus').value;

				$("#main_form").attr("action", action);
				$("#test_info_no").val(test_info_no);
			    $("#menuOpen").val(menuOpen);
			    $("#menuStatus").val(menuStatus);
			    $("#main_form").submit();
			}

			//戻るボタン処理
			function doBack(action){

				$("#main_form").attr("action", action);
				$("#main_form").submit();
			}

		{/literal}
	</script>

	<!--footer-->
	{include file='footer.html'}
	<!--footer-->

	</body>
</html>