<!DOCTYPE html>
<html>
<head>
	<title>クイズアイテムプレビュー</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    {literal}
    <script type="text/javascript" src="{/literal}{$smarty.const.HOME_DIR}{literal}js/jquery.min.js"></script>
    <script type="text/javascript" src="{/literal}{$smarty.const.HOME_DIR}{literal}js/jquery-ui.js"></script>
    {/literal}
    <link href="{$smarty.const.HOME_DIR}css/default.css" rel="stylesheet">
 	<link href="{$smarty.const.HOME_DIR}css/testpreview.css" rel="stylesheet">
	
	<style type="text/css">
		.disabled {
			background-color: grey;
			pointer-events: none;
			opacity: 0.3;
			cursor: default;
			border: none;
			padding: 12px 16px;
			font-size: 24px;
			width:30px;
			height:30px;
			margin:10px 10px 10px 10px;
			border-radius:30px;
		  }
		.started {
			background-color: #32CD32;
			pointer-events: none;
			opacity: 0.3;
			cursor: default;
			border: none;
			padding: 12px 16px;
			font-size: 24px;
			width:30px;
			height:30px;
			margin:10px 10px 10px 10px;
			border-radius:30px;
		  }
		  
		.description{
			float:left;
			width: 600px;
			text-align: left;
			margin-top: 5px;
			margin-bottom: -20px;
			font-size: 16px; 
			margin-left: 20px;
		}
		
		.textFill{
			 border: 0;
			 width:80%;
			 height:30px;
			 border-bottom: 1px solid black;
			 margin-top:5px;
			 font-size: 14px;
		}
		.endBtn{
			  border: none;
			  color: white;
			  text-align: center;
			  text-decoration: none;
			  display: inline-block;
			  margin-top:10px;
			  border-radius:3px;
			  width:80px;
			  height:35px;
			  cursor: pointer;
			  background-color: #008CBA;
		}
		
		.btnRadio{
		 font-size: 16px;
		}
		
		.btnAudio{
			
			  border: none;
			  color: white;
			  padding: 12px 16px;
			  font-size: 24px;
			  cursor: pointer;
			  width:30px;
			  height:30px;
			  margin:10px 10px 10px 10px;
			  border-radius:30px;
	}
		.tableRadio{
			
			background-color: #dcf2f9;
			border: none;
			border-collapse: collapse !important;
			margin-top:2px;
		}
		
		.items{
			margin-left:30px;
			margin-top:15px;
		}
		.options{
			margin-left:40px;
		}
	</style>
	<script>

    $(document).ready(function() {

    	 var err_msg =  document.getElementById('err_msg').value;
    	 if ( err_msg != "" ){
             $('#err_dis').show();
             $(".error_section").slideToggle('slow');
             $(".error_msg").html(err_msg);
         }
        else {
            $('#err_dis').hide();
       }

        // MSGのあるなし
        $(".close_icon").on('click',function(){
        	 $(".error_section").slideToggle('slow');
        	 $('#err_dis').hide();
         });

		// テーブルのラジオクリックイベント追加
		$(".radio_td").click(function () {
			var id =  $(this).attr('id');
			var name =  $(this).attr('name');
			
			var rdoId = id.replace("td_", "");
			var rdoName = name.replace("td_", "");
			
			$("input[name= " + rdoName + "][id='" + rdoId + "']").prop("checked",true);
			
			// テーブルの色をリセット
			var elements = document.getElementsByName(name);
			for (var i = 0; i < elements.length; i++) {
				elements[i].style.backgroundColor = "#e2eff3";
			}

			// 選択中の色セット
			$(this).css('background-color', '#79b7e7');
		});

   });
    function doBack(screen_mode,quiz_info_no, action , uid ) {
 	    var menuOpen = document.getElementById('menuOpen').value;
        var menuStatus = document.getElementById('menuStatus').value;

        $("#quiz_info_no").val(quiz_info_no);
        $("#screen_mode").val(screen_mode);
        $("#main_form").attr("action", action);
        $("#uid").val(uid);
        $("#menuOpen").val(menuOpen);
        $("#menuStatus").val(menuStatus);

        $("#main_form").submit();
	}
		 

	<!--playAudio音楽を開ける	-->
	function playAudio(ID) { 
				
				var play_flg = document.getElementById('play_flg'+ID);
				var player = document.getElementById('resQuiz_audio_'+ID);
				var aTagBtn = document.getElementById('btnAudio'+ID);
				var label = document.getElementById('lblAudio'+ID);
				var flag=false; 
				var allAudio=document.getElementsByTagName('audio');
				var img;
				for(var i=0;i<allAudio.length;i++){	
					if(allAudio[i].currentTime>0 && !allAudio[i].ended){
						//もう一度再生できるように修正
						//flag=true;
					}	
				}
				if(flag==false){		
					
					if(play_flg.value == 'false' && !player.ended){
						player.play();
						aTagBtn.classList.add("started");
						document.getElementById('btnAudio'+ID).classList.remove("btnAudio");
						img = document.getElementById('play_img'+ID).style.visibility = 'hidden';
						showTime(player, ID);
					}else if(play_flg.value == 'false' && player.ended){
						//もう一度再生できるように修正
					//	aTagBtn.classList.add("disabled");
					//	play_flg.value = 'true';
					//	player.setAttribute('src','');
						document.getElementById('play_img'+ID).style.visibility = 'visible';
						document.getElementById('btnAudio'+ID).classList.remove("started");
						aTagBtn.classList.add("btnAudio");
						player.pause();
						player.currentTime = 0;
					}else if(player.currentTime > 0){
						player.pause();
					}else{
						player.pause();
					}		  
					
				}
			}
			
	function showTime(player,ID){
		var timeoutHandle;
		var duration = player.duration;

		var aTagBtn = document.getElementById('btnAudio'+ID);
		var label = document.getElementById('lblAudio'+ID);

		var dHours = Math.floor(duration / 3600);
		var dMinutes = Math.floor(duration % 3600 / 60);
		var dSeconds = Math.floor(duration % 3600 % 60);

		var lastDuration = (dHours < 10 ? "0" : "") + dHours.toString()
			+ ":" + (dMinutes < 10 ? "0" : "") + dMinutes.toString()
			+ ":" + (dSeconds < 10 ? "0" : "") + String(dSeconds);

		function countdown2(hours, minutes, seconds){
			function tick(){
			label.innerHTML = (hours < 10 ? "0" : "") + hours.toString()
					+ ":" + (minutes < 10 ? "0" : "") + minutes.toString()
					+ ":" + (seconds < 10 ? "0" : "") + String(seconds)
					+ " / " + lastDuration;
			seconds--;
			if (seconds >= 0) {
				timeoutHandle = setTimeout(tick, 1000);
			} else {
				if (minutes >= 1) {
					setTimeout(function() {
						countdown2(hours, minutes - 1, 59);
					}, 1000);
				} else {
					if (minutes >= 0) {
						if (hours > 0) {
							timeoutHandle = setTimeout(tick, 1000);
							setTimeout(function() {
								countdown2(hours - 1, 59, 59);
							}, 1000);
						}
					}
				}
			}
			if (hours <= 0 && minutes <= 0 && seconds < 0) {
				//もう一度再生できるように修正
			//	aTagBtn.classList.add("disabled");
			//	document.getElementById('btnAudio'+ID).classList.remove("started");
			//	img = document.getElementById('play_img'+ID).style.visibility = 'hidden';
				img = document.getElementById('play_img'+ID).style.visibility = 'visible';
				document.getElementById('btnAudio'+ID).classList.remove("started");
				aTagBtn.classList.add("btnAudio");
				player.pause();
				player.currentTime = 0;
			}
		}
		tick();
		}
		countdown2(dHours, dMinutes, dSeconds);
	}
     </script>

</head>

<body class="pushmenu-push">
  <form id="main_form" action="{$smarty.const.HOME_DIR}QuizInfoList/search" method="post">
    {include file='leftMenu.html'}
	<div class="divHeader">
		<!--header-->
			{include file='header.html'}
		<!--header-->
	</div>
	<div class="divBody">

		{if !empty($error_msg) || $error_msg != "" }
			<input type="hidden" id="err_msg" name="err_msg" value="{$error_msg}"/>
		{else}
			<input type="hidden" id="err_msg" name="err_msg" value=""/>
		{/if}
		<div id="err_dis">
          <section class="error_section" id = "err">
            <img src="{$smarty.const.HOME_DIR}image/close_icon.png" style="width:15px;float:right" class="close_icon">
            <div class="error_msg" id = "error_msg">
              <input type="hidden" id="err_msg" name="err_msg" value="{$error_msg}"/>
				     {$error_msg}
            </div>
          </section>
        </div>
		<section class="content">
			<p>
            <span class="title">テスト情報 / クイズプレビュー</span>
            <span style="float:right;padding-right:10px;">
              <input type="button" value="" title="戻る" class="btn_back" onclick="doBack('update','{$form->quiz_info_no}','{$smarty.const.HOME_DIR}QuizDetailsPreview/back', '{$form->uid}')" />
            </span>
            </p>
              <!-- 戻る処理用データ -->
         <input type="hidden" id="gamen_name" name="gamen_name" value="{$form->gamen_name}"/>
		<input type="hidden" id="org_no" value="{$form->org_no}" name="org_no">
		<input type="hidden" id="quiz_info_no" value="{$form->quiz_info_no}" name="quiz_info_no">
		<input type="hidden" id="quiz_name" value="{$form->quiz_name}" name="quiz_name">
		<input type="hidden" id="long_description" value="{$form->long_description|escape}" name="long_description">
		<input type="hidden" id="remarks" value="{$form->remarks}" name="remarks">
		<input type="hidden" id="audio_file" value="{$form->audio_file}" name="audio_file">
		<input type="hidden" id="input_audio_file" value="{$form->input_audio_file}" name="input_audio_file">
		<input type="hidden" id="audio_del_flg " value="{$form->audio_del_flg }" name="audio_del_flg ">
		<input type="hidden" id="audio_chk_del" value="{$form->audio_chk_del}" name="audio_chk_del">
		 <!-- 検索利用データ -->
		<input type="hidden" id="search_quiz_name" name="search_quiz_name" value="{$form->search_quiz_name}"/>
		<input type="hidden" id="search_long_description" name="search_long_description" value="{$form->search_long_description}"/>
		<input type="hidden" id="search_remark" name="search_remark" value="{$form->search_remark}"/>
		<input type="hidden" id="search_rd_status1" name="search_rd_status1" value="{$form->search_rd_status1}"/>
		<input type="hidden" id="search_org_id" name="search_org_id" value="{$form->search_org_id}"/>
		<input type="hidden" id="screen_mode" name="screen_mode" value="{$form->screen_mode}"/>
		
		<input type="hidden" id="search_page_qil" name="search_page_qil" value="{$form->search_page_qil}" />
		<input type="hidden" id="search_page_row_qil" name="search_page_row_qil" value="{$form->search_page_row_qil}" />
		<input type="hidden" id="search_page_order_column_qil" name="search_page_order_column_qil" value="{$form->search_page_order_column_qil}" />
		<input type="hidden" id="search_page_order_dir_qil" name="search_page_order_dir_qil" value="{$form->search_page_order_dir_qil}" />

         <div class = "qz_no">
             <input type="hidden" id="quiz_info_no" value="{$form->quiz_info_no}" name="quiz_info_no">
             <label class="qz_name">{$form->quiz_name|escape}</label>
         </div>
         <div style="word-break : break-all;">
            <label style="white-space: pre-wrap;"><b>Q1.</b> {$form->long_description}</label>
         </div>
		<input type="hidden" id="audio_name" value="{$form->audio_name}" name="audio_name">
		<div style="margin-left:60px;">
		{if !empty($form->audio_name)}
			{assign var="audiomsg" value="{$folder_check}{$audio_file}/{$form->audio_name}"}
			{if file_exists({$audiomsg})}
			<span>
			<audio id="resQuiz_audio_{$i}" class="quiz_audio" style="display:none">
			<source src="{$smarty.const.ADMIN_HOME_DIR}/{$audio_file}/{$form->audio_name}" type="audio/mpeg" >
			</audio>
			<input type="hidden" id="play_flg{$i}" value="false"/>
			</span>											
			<span class="btnAudio" id="btnAudio{$i}">
				<a id="aBtn{$i}" onclick="javascript:playAudio('{$i}')" >
				<img src="{$smarty.const.HOME_DIR}image/play.svg" style="width:45px;" id="play_img{$i}"></a></a>
				<label id="lblAudio{$i}"></label>
			</span>	
			{/if}
		{/if}
		</div>
		<input type="hidden" id="total_item_{$i}" value="{count($items[$i])}" />
			{if !empty($items[$i])}										
				{foreach $items[$i] as $j=>$item}											
															 
					<div class="items">	
					{if !empty($items[$i][$j]->item_description) || $items[$i][$j]->item_description != ""}	
						<p>{$items[$i][$j]->item_description}</p>
					{/if}	
							<div style="margin_left:20px;">
							 <input type="hidden" id="item_id_{$i}_{$j}" value="{$items[$i][$j]->quiz_item_no}">	
							 <input type="hidden" id="type_{$i}_{$j}" name="type" value="{$items[$i][$j]->quiz_type}"/>																							
								{if !empty($optionList)}				
								<input type="hidden" id="total_option_{$i}_{$j}" value="{count($options[$i][$j])}" />																							
									{foreach $options[$i][$j] as $k=>$option}																
										{if !empty($options[$i][$j][$k])}																	
											
											<input type="hidden" id="option_id_{$i}_{$j}_{$k}" value="{$options[$i][$j][$k]->option_no}" />
																					
											{if $items[$i][$j]->quiz_type eq 001}																
											<table id="tbl_{$j}_{$k}" style="width: 95%;" class="tableRadio">
											<tr class="radio_tr" id="tr_{$i}_{$j}_{$k}" name="tr_{$i}_{$j}">
												<td width="95%" class="radio_td" id="td_{$i}_{$j}_{$k}" name="td_{$i}_{$j}">
													
														<input class="btnRadio" type="radio" name="rdo_{$i}_{$j}" id="rdo_{$i}_{$j}_{$k}" value="{$options[$i][$j][$k]->correct_flag}">
														<label for="rdo_{$i}_{$j}_{$k}">{$options[$i][$j][$k]->option_description}</label>
													
												</td>
											</tr>
											</table>														
											{else}
											<input type="text" id="txt_{$i}_{$j}_{$k}" name="ans_{$i}_{$j}_{$k}" class="textFill"  maxlength ="100"><br>															
											<input type="hidden" id="ans_txt_{$i}_{$j}_{$k}" name="txt_ans" value="{$options[$i][$j][$k]->option_description}">
											{/if}
									{/if}
								{/foreach}
							{/if}
							
						</div>
					</div>
						 
				{/foreach}
			{/if}
			<br/>
 		</section><!-- End Content -->
    </div><!-- End divBody -->
<!--footer-->
		{include file='footer.html'}
	<!--footer-->
  </form>

</body>
</html>