<!DOCTYPE html>
<html>
<head>
	<title>クイズアイテム登録</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    {literal}
    <script type="text/javascript" src="{/literal}{$smarty.const.HOME_DIR}{literal}js/jquery.min.js"></script>
    <script type="text/javascript" src="{/literal}{$smarty.const.HOME_DIR}{literal}js/jquery-ui.js"></script>
    <script type="text/javascript" src="{/literal}{$smarty.const.HOME_DIR}{literal}js/quizdetailsregist.js"></script>
    {/literal}
    <link href="{$smarty.const.HOME_DIR}css/default.css" rel="stylesheet">
    <link href="{$smarty.const.HOME_DIR}css/quizdetailsregist.css" rel="stylesheet">
    <script>
    $(document).ready(function() {

    	var err_msg = document.getElementById('err_msg').value;
    	if ( err_msg != "" ){
            $('#err_dis').show();
            $(".error_section").slideToggle('slow');
            $(".error_msg").html(err_msg);
        }
       else {
           $('#err_dis').hide();
      }

        // error sessionを閉じる
		$(".close_icon").on('click', function() {
			 document.getElementById('err_msg').value="";
			 $(".error_msg").html("");
	         $('#err_dis').hide();
	    });

		//新規登録の場合、
		var select_display ={$qzInfoCount};
		if(select_display < 1) {

			changeSelectValue("sflag",1);
		}

    });

    function doBack(org_no , quiz_info_no,screen_mode, action,uid){
    	var menuOpen = document.getElementById('menuOpen').value;
        var menuStatus = document.getElementById('menuStatus').value;

		$("#org_no").val(org_no);
        $("#quiz_info_no").val(quiz_info_no);
        $("#screen_mode").val(screen_mode);
        $("#main_form").attr("action", action);
        $("#uid").val(uid);
        $("#menuOpen").val(menuOpen);
        $("#menuStatus").val(menuStatus);

        $("#main_form").submit();
    }

 // 入力チェック処理
    function checkInsertData() {

    	$(".error_section").hide();
        var table = document.getElementById("new_form");
        var hasError=false;
        var index =1;
        $('#new_form tbody').each(function(){
              var qz_content = document.getElementById("txtarea_"+index).value;
              var qz_mark = document.getElementById("txt_mark_"+index).value;
              var qz_type = document.getElementById("qztype_no_"+index).value;

              var str = $(this).attr("id");
          	  var num = str.replace(/[^0-9]/g, '');
              var index1 = parseInt(num,10);

              if ( qz_content != "" && qz_content.length > 2048 ){

					$('#err_dis').show();
					$(".error_section").slideToggle('slow');
					$(".error_msg").html("問題を2048字で入力してください。");
					$(".divBody").scrollTop(0);
					return false;
			  }
              if(qz_mark == "") {
                  $('#err_dis').show();
                  $(".error_section").slideToggle('slow')
                  $(".error_msg").html("Markを入力してください。");
                  $(".divBody").scrollTop(0);
                  hasError=true;
                  return false;
              }
			   if ( isNaN(qz_mark) ){

					$('#err_dis').show();
					$(".error_section").slideToggle('slow');
					$(".error_msg").html("Markを数字で入力してください。");
					$(".divBody").scrollTop(0);
					hasError=true;
					return false;
				}
              if (qz_type == "001") {

            	  var radios =  document.getElementsByName('rchoice'+index1);
            	  for (var j = 0; j < radios.length; j++) {
          		    if (radios[j].checked) {
          		        var choice_text = document.getElementById("choice"+index1+"_"+(j+1)).value;
          		        if(choice_text == ""){
          		        	$('#err_dis').show();
                            $(".error_section").slideToggle('slow')
                            $(".error_msg").html("選択したアイテムが存在しません。");
                            $(".divBody").scrollTop(0);
                            hasError = true;}
          		    	}
          		  }

                  var txt_c1 = document.getElementById("choice"+index1+"_1").value;
                  var txt_c2 = document.getElementById("choice"+index1+"_2").value;
				  
				  console.log(txt_c1);
                  if(txt_c1 == "" || txt_c2 == "") {

                      $('#err_dis').show();
                      $(".error_section").slideToggle('slow')
                      $(".error_msg").html("C* を入力してください。");
                      $(".divBody").scrollTop(0);
                     hasError=true;
                     return false;
                  }
              }
              else if(qz_type == "002") {
            	  var txt_b1 = document.getElementById("blank"+index1+"_1").value;
            	  if(txt_b1 == "") {

                      $('#err_dis').show();
                      $(".error_section").slideToggle('slow')
                      $(".error_msg").html("A* を入力してください。");
                      $(".divBody").scrollTop(0);
                     hasError=true;
                     return false;
                  }
              }
          index++;
        });
        //登録処理
        if(!hasError){
          insertListData();
		}
        return true;

    }

  </script>
</head>
<title>クイズアイテム登録</title>
<body class="pushmenu-push">

  <form id="main_form" action="{$smarty.const.HOME_DIR}QuizDetailsRegist/save" method="post">
	{include file='leftMenu.html'}
	<div class="divHeader">
		<!--header-->
			{include file='header.html'}
		<!--header-->
	</div>
	<div class="divBody">

		{if !empty($error_msg) || $error_msg != "" }
			<input type="hidden" id="err_msg" name="err_msg" value="{$error_msg}"/>
		{else}
			<input type="hidden" id="err_msg" name="err_msg" value=""/>
		{/if}
		 <div id="err_dis">
          <section class="error_section" id = "err">
            <img src="{$smarty.const.HOME_DIR}image/close_icon.png" style="width:15px;float:right" class="close_icon">
				<div class="error_msg" id="error_msg">
					{if !empty($error_msg) || $error_msg != ""}
						{$error_msg}
					{/if}
				</div>
            </section>
        </div>

        <section class = "content">
        <p>
         <span class= "title">試験 / クイズアイテム</span>
         <span style="float:right;padding-right:10px;">
              <input type="button" value="" title="戻る" class="btn_back" onclick="doBack('{$form->org_no}','{$form->quiz_info_no}','{$form->screen_mode}','{$smarty.const.HOME_DIR}QuizDetailsRegist/back', '{$form->uid}')" />
        </span>
        </p>
        <div class="qz_name" id="testqz_name">
         	<input type="hidden" id="screen_mode" value="{$form->screen_mode}" name="screen_mode">
            <input type="hidden" id="quiz_info_no" value="{$form->quiz_info_no}" name="quiz_info_no">
            <input type="hidden" id="showqz_name" name="showqz_name" value="{$form->showqz_name}" />
			<input type="hidden" id="hid_org_no" value="{$form->org_no}" name="org_no">
			<input type="hidden" id="date_flg" value="{$date_flg}" name="date_flg">
            <input type="hidden" id="home_dir" value="{$smarty.const.HOME_DIR}" />
			<input type="hidden" id="arrTypeNameList" name="arrTypeNameList" value=""/>
			<input type="hidden" id="arrTypeNameList1" name="arrTypeNameList1" value=""/>
			<input type="hidden" id="arrTypeNameList2" name="arrTypeNameList2" value=""/>

		 <!-- 戻る処理用データ -->
		<input type="hidden" id="org_no" value="{$form->org_no}" name="org_no">
		<input type="hidden" id="quiz_info_no" value="{$form->quiz_info_no}" name="quiz_info_no">
		<input type="hidden" id="quiz_name" value="{$form->quiz_name}" name="quiz_name">
		<input type="hidden" id="long_description" value="{$form->long_description|escape}" name="long_description">
		<input type="hidden" id="remarks" value="{$form->remarks}" name="remarks">
		<input type="hidden" id="audio_file" value="{$form->audio_file}" name="audio_file">
		<input type="hidden" id="input_audio_file" value="{$form->input_audio_file}" name="input_audio_file">
		<input type="hidden" id="audio_del_flg" value="{$form->audio_del_flg}" name="audio_del_flg">
		<input type="hidden" id="audio_chk_del" value="{$form->audio_chk_del}" name="audio_chk_del">
		 <!-- 検索利用データ -->
		<input type="hidden" id="search_quiz_name" name="search_quiz_name" value="{$form->search_quiz_name}"/>
		<input type="hidden" id="search_long_description" name="search_long_description" value="{$form->search_long_description|escape}"/>
		<input type="hidden" id="search_remark" name="search_remark" value="{$form->search_remark}"/>
		<input type="hidden" id="search_rd_status1" name="search_rd_status1" value="{$form->search_rd_status1}"/>
		<input type="hidden" id="search_org_id" name="search_org_id" value="{$form->search_org_id}"/>
		
		<input type="hidden" id="search_page_qil" name="search_page_qil" value="{$form->search_page_qil}" />
		<input type="hidden" id="search_page_row_qil" name="search_page_row_qil" value="{$form->search_page_row_qil}" />
		<input type="hidden" id="search_page_order_column_qil" name="search_page_order_column_qil" value="{$form->search_page_order_column_qil}" />
		<input type="hidden" id="search_page_order_dir_qil" name="search_page_order_dir_qil" value="{$form->search_page_order_dir_qil}" />


        	<label class="lbl_qz_name"> クイズ名 </label>
<!--             To check<label id="lbl_qz_name"> {$form->showqz_name|escape} </label> -->
			 <label id="lbl_qz_name">{$form->quiz_name|escape} </label>
		</div>
		<table class="qz_details_border" id="new_form">
		{if !empty($qzList)}
		{$indx1=0}
        {foreach $qzList as $obj}
        <!-- {$indx1} -->

         <tbody id="tbody{$obj@key+1}">
              <tr>
                <td>{$obj@key+1}.</td>
                <td width="75px;">タイプ</td>
                <td colspan="2">
                  <select id="qztype_no_{$obj@key+1}" name="qz_type" onchange="changeSelectValue(this,{$obj@key+1})"  class="qz_type">
                    {if !empty($qztypeNo)}
                        {foreach $qztypeNo as $value}
                           {if $value->type == $obj->quiz_type}
                            <option value="{$value->type}" selected>{$value->name} </option>
                          {else}
                            <option value="{$value->type}">{$value->name} </option>
                          {/if}
                        {/foreach}
                     {/if}
                  </select>
                </td>
                <td width="200px;"></td>
                 <td width="75px;">Q<span class="required">※</span></td>
                 <td width="118px;"></td>
                 <td width="218px;"></td>
                </tr>

                <tr>
                <td></td>
                <td width="75px;">点数<span class="required">※</span></td>
                <td colspan="2">
                <input type="text" class="text_box" id="txt_mark_{$obj@key+1}" value="{$obj->marks}" name="qz_mark" size="30" maxlength = "3">
                </td>
                <td width="100px;"></td>
                <td rowspan="4" colspan="3" ><textarea class="txtarea" id = "txtarea_{$obj@key+1}" name="qz_content" size="30" maxlength = "2048">{$obj->description}</textarea></td>
				</tr>
				<tr></tr><tr></tr><tr></tr>
				{if $obj->quiz_type == "001"}

				{if !empty($qzListOpt)}
				<div style="display: none;">{$idx=1}</div>
				{$qzListOpt=array_slice($qzListOpt,($indx1))}
				<div style="display: none;">{$indx = 0}</div>
				{foreach $qzListOpt as $obj1}
				{if $obj1->quiz_item_no != $obj->quiz_item_no }{break}
				{else}

				<tr class="rc_row{$obj@key+1}">
				<td></td>

				{if $idx==1 || $idx==2}

					{if $obj1->correct_flag=="1"}
					<td><label class="label_rd"><input type="radio" name="rchoice{$obj@key+1}" value="c{$idx}" checked="checked"> c{$idx}<span class="required">※ </span> </label></td>
					{else}
					<td><label class="label_rd"><input type="radio" name="rchoice{$obj@key+1}" value="c{$idx}" > c{$idx}<span class="required">※ </span> </label></td>
					{/if}

				{else}
					{if $obj1->correct_flag=="1"}
					<td><label class="label_rd"><input type="radio" name="rchoice{$obj@key+1}" value="c{$idx}" checked="checked"> c{$idx} </label></td>
					{else}
					<td><label class="label_rd"><input type="radio" name="rchoice{$obj@key+1}" value="c{$idx}"> c{$idx} </label></td>
					{/if}
				{/if}
				<td><input type="text" class="text_box_rd" id="choice{$obj@key+1}_{$idx}" value="{$obj1->description}" name="choice{$idx}" size="30" maxlength = "2048"></td>

				</tr>


				<div style="display: none;">{$idx++}{$indx++}{$indx1 = $indx}</div>
				{/if}{/foreach}
				{/if}

				{else}

				{if !empty($qzListOpt)}
				{$idx=1}
				{$qzListOpt=array_slice($qzListOpt,$indx1)}
				<!-- {"array length"}{$qzListOpt|@count} -->
				<div style="display: none;">{$indx = 0}</div>
				{foreach $qzListOpt as $obj1}
				{if $obj1->quiz_item_no != $obj->quiz_item_no }{break}
				{else}

				<tr class="rb_row{$obj@key+1}">
				<td></td>
				{if $idx==1}
				<td width="75px;"><label class="label_blank">A{$idx}<span class="required">※ </span></label></td>
                <td><input type="text" class="text_box_blank" id="blank{$obj@key+1}_{$idx}" value="{$obj1->description}" name="blank{$idx}" size="30" maxlength = "2048"></td>
				{else}
				<td width="75px;"><label class="label_blank">A{$idx}</label></td>
                <td><input type="text" class="text_box_blank" id="blank{$obj@key+1}_{$idx}" value="{$obj1->description}" name="blank{$idx}" size="30" maxlength = "2048"></td>
				{/if}
				</tr>
				<div style="display: none;">{$idx++}{$indx++}{$indx1 = $indx}</div>
				{/if}{/foreach}
				{/if}

				{/if}
				<tr>
					<td></td>
					<td width = "75px;"></td>
					<td colspan="2"></td>
					<td width="100px;"></td>
					<td width="200px;"></td>

					<td style="text-align:right"><input type="button" value="" title="追加" id="btn_add_{$obj@key+1}" onclick="add_single_row(this,this.parentNode.parentNode.rowIndex)" class="btn_row_add"></td>
					<td style="text-align:right"><input type="button" value="" title="削除" id="btn_remove_{$obj@key+1}" onclick="deleteRow(this)" class="btn_delete"></td>
				</tr>
		</tbody>
            {/foreach}
            {else}
		<tbody id="tbody1">
              <tr>
                <td>1.</td>
                <td width="75px;">タイプ<span class="required">※</span></td>
                 <td colspan="2">
                  <select id="qztype_no_1" name="qz_type" onchange="changeSelectValue(this,1)"  class="qz_type">
                    {if !empty($qztypeNo)}
                        {foreach $qztypeNo as $value}
                          {if $value->type == $form->qz_type}
                            <option value="{$value->type}" selected>{$value->name} </option>
                          {else}
                            <option value="{$value->type}">{$value->name} </option>
                          {/if}
                        {/foreach}
                     {/if}
                  </select>
                </td>
                 <td width="200px;"></td>
                 <td width="75px;">Q<span class="required">※</span></td>
                 <td width="118px;"></td>
                 <td width="218px;"></td>
                </tr>

                <tr>
                <td></td>
                <td width="75px;">点数<span class="required">※</span></td>
                <td colspan="2">
                <input type="text" class="text_box" id="txt_mark_1" value="{$form->qz_mark}" name="qz_mark" size="30" maxlength = "3">
                </td>
                <td width="100px;"></td>
                <td rowspan="4" colspan="3" ><textarea class="txtarea" id = "txtarea_1" name="qz_content" size="30" maxlength = "2048">{$form->qz_content}</textarea></td>
				</tr>
				<!-- <tr></tr><tr></tr><tr></tr> -->

				<tr class="rc_row1">
				<td></td>
				<td><label class="label_rd"><input type="radio" name="rchoice1" value="c1" checked="checked"> c1<span class="required">※</span></label></td>
				<td><input type="text" class="text_box_rd" id="choice1_1" value="{$form->choice1}" name="choice1" size="30" maxlength = "2048"></td>
				</tr>
				<tr class="rc_row1">
				<td></td>
				<td><label class="label_rd"><input type="radio" name="rchoice1" value="c2"> c2<span class="required">※</span></label></td>
				<td><input type="text" class="text_box_rd" id="choice1_2" value="{$form->choice2}" name="choice2" size="30" maxlength = "2048"></td>
				</tr>
				<tr class="rc_row1">
				<td></td>
				<td><label class="label_rd"><input type="radio" name="rchoice1" value="c3"> c3</label></td>
				<td><input type="text" class="text_box_rd" id="choice1_3" value="{$form->choice2}" name="choice3" size="30" maxlength = "2048"></td>
				</tr>
				<tr class="rc_row1">
				<td></td>
				<td><label class="label_rd"><input type="radio" name="rchoice1" value="c4"> c4</label></td>
				<td><input type="text" class="text_box_rd" id="choice1_4" value="{$form->choice2}" name="choice4" size="30" maxlength = "2048"></td>
				</tr>
				<tr class="rb_row1">
				    <td></td>
				 	<td width="75px;"><label class="label_blank">A1<span class="required">※</span></label></td>
                	<td>
                		<input type="text" class="text_box_blank" id="blank1_1" value="{$form->blank1}" name="blank1" size="30" maxlength = "2048">
                	</td>
				</tr>
				<tr class="rb_row1">
					<td></td>
				 	<td width="75px;"><label class="label_blank">A2</label></td>
                	<td>
                		<input type="text" class="text_box_blank" id="blank1_2" value="{$form->blank2}" name="blank2" size="30" maxlength = "2048">
                	</td>
				</tr>
				<tr></tr>
				<tr>
					<td></td>
					<td width = "75px;"></td>
					<td colspan="2"></td>
					<td width="100px;"></td>
					<td width="200px;"></td>

					<td style="text-align:right"><input type="button" value="" title="追加" id="btn_add_1" onclick="add_single_row(this,this.parentNode.parentNode.rowIndex)" class="btn_row_add"></td>
					<td style="text-align:right"><input type="button" value="" title="削除" id="btn_remove_1" onclick="deleteRow(this)" class="btn_delete"></td>

				</tr>

            </tbody>
            {/if}
		</table>
		<table style="width:95%;">
            <tr>
				<td colspan="6"><input type="button" class="btn_row_add" value="" title="追加" onclick="addRow()" style="float: left;">
				{if $form->disable_mode == ""}
					<input type="button" class="btn_insert" value="" title="登録" onclick="checkInsertData()" style="float: right;"></td>
				{/if}
            </tr>
          </table>


        </section>
    </div><!-- End divBody -->
    <!--footer-->
		{include file='footer.html'}
	<!--footer-->
  </form>
  <script>

   {literal}
  var qzList = [];
  {/literal}{if $qzList != null}{foreach $qzList as $value}{literal}
		qzList.push(JSON.stringify('{/literal}{json_encode($value, JSON_HEX_APOS)}{literal}'));
  {/literal}{/foreach}{/if}

  {literal}
  var qzListOpt = [];
  {/literal}{if $qzListOpt != null}{foreach $qzListOpt as $value}{literal}
		qzListOpt.push(JSON.stringify('{/literal}{json_encode($value, JSON_HEX_APOS)}{literal}'));
  {/literal}{/foreach}{/if}

  {literal}
      var arrTypeNameList = [];
      {/literal}{if $qztypeNo != null}{foreach $qztypeNo as $value}{literal}
      arrTypeNameList.push(JSON.parse('{/literal}{json_encode($value)}{literal}'));
      {/literal}{/foreach}{/if}

  {literal}
      var arrTypeNameList1 = [];
      {/literal}{if $qztypeNo != null}{foreach $qztypeNo as $value}{literal}
      arrTypeNameList1.push(JSON.parse('{/literal}{json_encode($value)}{literal}'));
      {/literal}{/foreach}{/if}

  {literal}
      var arrTypeNameList2 = [];
      {/literal}{if $qztypeNo != null}{foreach $qztypeNo as $value}{literal}
      arrTypeNameList2.push(JSON.parse('{/literal}{json_encode($value)}{literal}'));
      {/literal}{/foreach}{/if}

  </script>


</body>
</html>