<!DOCTYPE html>
<html>
	<head>
	<title>講師登録</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="robots" content="noindex, nofollow">
	<meta name="googlebot" content="noindex, nofollow">
	{literal}
	<script type="text/javascript" src="{/literal}{$smarty.const.HOME_DIR}{literal}js/jquery.min.js"></script>
	<script type="text/javascript" src="{/literal}{$smarty.const.HOME_DIR}{literal}js/jquery-ui.js"></script>
	<script type="text/javascript" src="{/literal}{$smarty.const.HOME_DIR}{literal}js/common.js"></script>
	{/literal}
	<link href="{$smarty.const.HOME_DIR}css/jquery-ui.css" rel="stylesheet">
	<link href="{$smarty.const.HOME_DIR}css/default.css" rel="stylesheet">

		<script type="text/javascript">

			// Enterキーを無効にする
			$(document).keypress(function (e) {
				if (e.which == 13) {
					return false;
				}
			});

			//表示再現
			$(document).ready(function() {
				$(function() {
					$('#start_period').datepicker({
						showOn : "button",
						buttonImage : "{$smarty.const.HOME_DIR}image/calendar.svg",
						dateFormat: 'yy/mm/dd',
						buttonImageOnly : true,

						beforeShow: function (input, inst) {
							setTimeout(function () {
								var leftWidth=($('.pushmenu-open').length>0)?$('#start_period').offset().left-$('.pushmenu-open')[0].offsetWidth
										:$('#start_period').offset().left;
								inst.dpDiv.css({
									left: leftWidth
								});
							}, 0);
						}
					});
				});

				$(function() {
					$('#end_period').datepicker({
						showOn : "button",
						buttonImage : "{$smarty.const.HOME_DIR}image/calendar.svg",
						dateFormat: 'yy/mm/dd',
						buttonImageOnly : true,

						beforeShow: function (input, inst) {
							setTimeout(function () {
								var leftWidth=($('.pushmenu-open').length>0)?$('#end_period').offset().left-$('.pushmenu-open')[0].offsetWidth
										:$('#end_period').offset().left;
								inst.dpDiv.css({
									left: leftWidth
								});
							}, 0);
						}
					});
				});

				$('#training_flg_chk').change(function() {
					if(this.checked) {
						$('#training_flg').val('1');
					}else{
						$('#training_flg').val('0');
					}
				});

				// MSGのあるなし
				if ( $(".error_msg").html() != "" ) {

					$(".error_section").slideToggle('slow');
				}
				$(".close_icon").on('click',function(){

					$(".error_section").slideToggle('slow');

					$('#err_dis').slideToggle('slow');

				});

				/**
				*
				* 登録ボタン押下、必須チェック処理
				*
				**/
				$(".btn_insert").on('click',function(){

					$(".error_section").hide();
					$('#err_dis').hide();

					var login_id = document.getElementById('login_id').value;
					var name = document.getElementById('name').value;
					var nickname = document.getElementById('nickname').value;
					var display_name = document.getElementById('display_name').value;
					var school_kbn = document.getElementById('school_kbn').value;
					var password = document.getElementById('password').value;
					var confirm_password = document.getElementById('confirm_password').value;
					var start_period = document.getElementById('start_period').value;
					var end_period = document.getElementById('end_period').value;
					var screen_mode = document.getElementById('screen_mode').value;
					if($('input[name=training_flg_chk]').prop('checked')){
						$("#training_flg").val("1");
					}else{
						$("#training_flg").val("0");
					}
					var training_flg = document.getElementById('training_flg').value;

					// グループ名の必須チェック
					if ( login_id == "" ){
						$('#err_dis').show();
						$(".error_section").slideToggle('slow');
						$(".error_msg").html("講師コードを入力してください。");
						$(".divBody").scrollTop(0);
						return false;
					}

					// グループ名の必須チェック
					if ( name == "" ){
						$('#err_dis').show();
						$(".error_section").slideToggle('slow');
						$(".error_msg").html("氏名を入力してください。");
						$(".divBody").scrollTop(0);
						return false;
					}

					// グループ名の文字数チェック
					if ( nickname == ""){
						$('#err_dis').show();
						$(".error_section").slideToggle('slow');
						$(".error_msg").html("ニックネームを入力してください。");
						$(".divBody").scrollTop(0);
						return false;
					}

					// 読みの文字数チェック
					if ( display_name == "" ){
						$('#err_dis').show();
						$(".error_section").slideToggle('slow');
						$(".error_msg").html("講師表示名を入力してください。");
						$(".divBody").scrollTop(0);
						return false;
					}

					// ログインIDの必須チェック
					if ( school_kbn == "" ){
						$('#err_dis').show();
						$(".error_section").slideToggle('slow');
						$(".error_msg").html("所属校舎入力してください。");
						$(".divBody").scrollTop(0);
						return false;
					}

					// ログインIDのの文字数チェック
					if ( login_id.length > 20 ){
						$('#err_dis').show();
						$(".error_section").slideToggle('slow');
						$(".error_msg").html("講師コードは20字で入力してください。");
						$(".divBody").scrollTop(0);
						return false;
					}

					if ( login_id.match(/[^0-9a-zA-Z]/) ){
						$('#err_dis').show();
						$(".error_section").slideToggle('slow');
						$(".error_msg").html('講師コードに半角英数字以外の文字が含まれています。');
						$(".divBody").scrollTop(0);
						return false;
					}

					//パスワードの最小長
	                var min_passwordLength = document.getElementById('min_passwordLength').value;
	                //パスワードの最高長
	                var max_passwordLength = document.getElementById('max_passwordLength').value;

					//新規モッドにパスワードが必要
					if ( screen_mode == 'new' ){
						// パスワードの必須チェック
						if ( password == "" ){
							$('#err_dis').show();
							$(".error_section").slideToggle('slow');
							$(".error_msg").html("パスワードを入力してください。");
							$(".divBody").scrollTop(0);
							return false;
						}

						// パスワード（確認）の必須チェック
                        if ( confirm_password == "" ){
                            $('#err_dis').show();
                            $(".error_section").slideToggle('slow');
                            $(".error_msg").html("パスワード（確認）を入力してください。");
                            $(".divBody").scrollTop(0);
                            return false;
                        }

                        if ( !password.match(/^(?! )[A-Za-z0-9-_]+(?<! )$/) ){

                            $('#err_dis').show();
                            $(".error_section").slideToggle('slow');
                            $(".error_msg").html('パスワードに半角英数字以外の文字が含まれています。');
                            $(".divBody").scrollTop(0);
                            return false;
                        }

                        if ( !confirm_password.match(/^(?! )[A-Za-z0-9-_]+(?<! )$/) ){

                            $('#err_dis').show();
                            $(".error_section").slideToggle('slow');
                            $(".error_msg").html('パスワード（確認）に半角英数字以外の文字が含まれています。');
                            $(".divBody").scrollTop(0);
                            return false;
                        }

						if ( password.length < min_passwordLength ){
                            $('#err_dis').show();
                            $(".error_section").slideToggle('slow');
                            $(".error_msg").html("パスワードは最低"+min_passwordLength+"字で入力してください。");
                            $(".divBody").scrollTop(0);
                            return false;
                        }

						// パスワードの文字数チェック
						if ( password.length > max_passwordLength ){
							$('#err_dis').show();
							$(".error_section").slideToggle('slow');
							$(".error_msg").html("パスワードは最高"+max_passwordLength+"字以内入力してください。");
							$(".divBody").scrollTop(0);
							return false;
						}

						 if ( confirm_password.length < min_passwordLength ){
	                            $('#err_dis').show();
	                            $(".error_section").slideToggle('slow');
	                            $(".error_msg").html("パスワード（確認）は最低"+min_passwordLength+"字で入力してください。");
	                            $(".divBody").scrollTop(0);
	                            return false;
	                       }

						// パスワード（確認）の文字数チェック
						if ( confirm_password.length > max_passwordLength ){
							$('#err_dis').show();
							$(".error_section").slideToggle('slow');
							$(".error_msg").html("パスワード（確認）は最高"+max_passwordLength+"字以内入力してください。");
							$(".divBody").scrollTop(0);
							return false;
						}
					}

					//編集モッドにパスワードを入れたらフォーマットをチャック
					if ( screen_mode == 'update' ){

						if ( password!="" || confirm_password!=""){
							// パスワードの必須チェック
	                        if ( password == "" ){
	                            $('#err_dis').show();
	                            $(".error_section").slideToggle('slow');
	                            $(".error_msg").html("パスワードを入力してください。");
	                            $(".divBody").scrollTop(0);
	                            return false;
	                        }

	                        // パスワード（確認）の必須チェック
	                        if ( confirm_password == "" ){
	                            $('#err_dis').show();
	                            $(".error_section").slideToggle('slow');
	                            $(".error_msg").html("パスワード（確認）を入力してください。");
	                            $(".divBody").scrollTop(0);
	                            return false;
	                        }

	                        if ( !password.match(/^(?! )[A-Za-z0-9-_]+(?<! )$/) ){

	                            $('#err_dis').show();
	                            $(".error_section").slideToggle('slow');
	                            $(".error_msg").html('パスワードに半角英数字以外の文字が含まれています。');
	                            $(".divBody").scrollTop(0);
	                            return false;
	                        }

	                        if ( !confirm_password.match(/^(?! )[A-Za-z0-9-_]+(?<! )$/) ){

	                            $('#err_dis').show();
	                            $(".error_section").slideToggle('slow');
	                            $(".error_msg").html('パスワード（確認）に半角英数字以外の文字が含まれています。');
	                            $(".divBody").scrollTop(0);
	                            return false;
	                        }

							// パスワードの文字数チェック
	                        if ( password.length < min_passwordLength && password != "" ){
	                            $('#err_dis').show();
	                            $(".error_section").slideToggle('slow');
	                            $(".error_msg").html("パスワードは最低"+min_passwordLength+"字で入力してください。");
	                            $(".divBody").scrollTop(0);
	                            return false;
	                        }

							if ( password.length > max_passwordLength ){
								$('#err_dis').show();
								$(".error_section").slideToggle('slow');
								$(".error_msg").html("パスワードは最高"+max_passwordLength+"字以内入力してください。");
								$(".divBody").scrollTop(0);
								return false;
							}

							// パスワード（確認）の文字数チェック
							if ( confirm_password.length < min_passwordLength && password != "" ){
	                            $('#err_dis').show();
	                            $(".error_section").slideToggle('slow');
	                            $(".error_msg").html("パスワード（確認）は最低"+min_passwordLength+"字で入力してください。");
	                            $(".divBody").scrollTop(0);
	                            return false;
	                        }

							if ( confirm_password.length > max_passwordLength ){
								$('#err_dis').show();
								$(".error_section").slideToggle('slow');
								$(".error_msg").html("パスワード（確認）は最高"+max_passwordLength+"字以内入力してください。");
								$(".divBody").scrollTop(0);
								return false;
							}
						}
					}

					// 利用開始の必須チェック
					if ( start_period == "" ){
						$('#err_dis').show();
						$(".error_section").slideToggle('slow');
						$(".error_msg").html("利用開始を入力してください。");
						$(".divBody").scrollTop(0);
						return false;
					}

					// 利用終了の必須チェック
					if ( end_period == "" ){
						$('#err_dis').show();
						$(".error_section").slideToggle('slow');
						$(".error_msg").html("利用終了を入力してください。");
						$(".divBody").scrollTop(0);
						return false;
					}

					if ( start_period > end_period ){
						$('#err_dis').show();
						$(".error_section").slideToggle('slow');
						$(".error_msg").html("{$smarty.const.W004}");
						$(".divBody").scrollTop(0);
						return false;
					}

					// パスワードとパスワード（確認）をチェックする
					if ( password != confirm_password ){
						$('#err_dis').show();
						$(".error_section").slideToggle('slow');
						$(".error_msg").html("{$smarty.const.E024}");
						$(".divBody").scrollTop(0);
						return false;
					}

					return true;
				});
			});
			//戻るボタン
			function doBack(action) {

				$("#back_flg").val("true");
				$("#main_form").attr("action", action);
				$("#main_form").submit();
			}

		</script>
	</head>
	<body class="pushmenu-push">
		<form id="main_form" action="{$smarty.const.HOME_DIR}TeacherRegist/Save" method="post">
			<input type="hidden" id ="min_passwordLength" name="min_passwordLength" value="{$smarty.const.MIN_PASSWORDLENGTH}" >
            <input type="hidden" id ="max_passwordLength" name="max_passwordLength" value="{$smarty.const.MAX_PASSWORDLENGTH}" >
			{include file='leftMenu.html'}
			<div class="divHeader">
				<!--header-->
					{include file='header.html'}
				<!--header-->
			</div>
			<div class="divBody">
				<div class="main" >
					 <input type="hidden" id="err_msg" name="err_msg" value="{$error_msg}"/>
					<div id="err_dis">
						<section class="error_section" id = "err">
							<img src="{$smarty.const.HOME_DIR}image/close_icon.png" style="width:15px;float:right" class="close_icon">
							{if !empty($error_msg)}
								<div class="error_msg" id = "error_msg">{$error_msg}</div>
							{else}
								<div class="error_msg" id = "error_msg"></div>
							{/if}
						</section>
					</div>
					<section class="content">
						<!-- <div class="main_div">  -->
						<p>
							&gt;<span class="title">講師 / 講師登録</span>
						</p>
						<p style="text-align:right"><input type="button" title="戻る" value="" class="btn_back" onclick="javascript:doBack('{$smarty.const.HOME_DIR}TeacherRegist/back')"/></p>
						<input type="hidden" id="manager_no" name="manager_no" value="{$form->manager_no}"/>
						<input type="hidden" id="screen_mode" name="screen_mode" value="{$form->screen_mode}"/>
						<input type="hidden" id="training_flg" name="training_flg"/>
						<input type="hidden" id="teacher_no" name="teacher_no" value="{$form->teacher_no}"/>
						<input type="hidden" id="search_end_period" name="search_end_period" value="{$form->search_end_period}"/>
						<input type="hidden" id="search_start_period" name="search_start_period" value="{$form->search_start_period}"/>
						<input type="hidden" id="search_name" name="search_name" value="{$form->search_name}"/>
						<input type="hidden" id="search_school_kbn" name="search_school_kbn" value="{$form->search_school_kbn}"/>
						<input type="hidden" id="search_page" name="search_page" value="{$form->search_page}"/>
						<input type="hidden" id="back_flg" name="back_flg" value="false" />
						<div class="">
						<br>
							<table>
								<tr>
									<td style="width:240px;">講師コード<span class="required">※</span></td>
									<td><input type="text" class="text" id="login_id" name="login_id" value="{$form->login_id}" maxlength ="20" size="30"></td>
								</tr>
								<tr>
									<td>氏名<span class="required">※</span></td>
									<td><input type="text" class="text" id="name" name="name" value="{$form->name|escape}" maxlength = "32" size="30"></td>
								</tr>
								<tr>
									<td>ニックネーム<span class="required">※</span></td>
									<td><input type="text" class="text" id="nickname" name="nickname" value="{$form->nickname|escape}" maxlength = "20" size="30"></td>
								</tr>
								<tr>
									<td>講師表示名<span class="required">※</span></td>
									<td><input type="text" class="text" id="display_name" name="display_name" value="{$form->display_name|escape}" maxlength = "20" size="30"></td>
								</tr>
								<tr>
									<td>所属校舎<span class="required">※</span></td>
									<td>
										<select name="school_kbn" id="school_kbn" style="width:200px !important;">
											<option value="">選択してください。</option>
											{if !empty($form->school_kbn_list)}
												{foreach $form->school_kbn_list as $value}
												{if $value->type == $form->school_kbn}
													<option value="{$value->type}" selected>{$value->name} </option>
												{else}
													<option value="{$value->type}"> {$value->name} </option>
												{/if}
												{/foreach}
											{/if}
										</select>
									</td>
								</tr>

								<tr>
									<td>モード<span class="required">※</span></td>
									<td>
										{if $form->training_flg == '1'}
											<label><input type="checkbox" class="test_kbn" id="training_flg_chk" name="training_flg_chk" checked>練習中</label>
										{else}
											<label><input type="checkbox" class="test_kbn"  id="training_flg_chk" name="training_flg_chk"/>練習中</label>
										{/if}
									</td>
								</tr>
								<tr>
									<td>利用開始<span class="required">※</span></td>
									<td><input type="text" id="start_period" name="start_period" value="{$form->start_period}" maxlength="10" onchange="changeDateFormat(this)"></td>
								</tr>
								<tr>
									<td>利用終了<span class="required">※</span></td>
									<td><input type="text" id="end_period" name="end_period" value="{$form->end_period}" maxlength="10" onchange="changeDateFormat(this)"></td>
								</tr>
								<tr>
									<td>備考</td>
									<td><input type="text" class="text" id="remarks" name="remarks" value="{$form->remarks|escape}" size="30"></td>
								</tr>
								<tr>
									<td>パスワード<span class="required">※</span></td>
									<td><input type="password" class="text" id="password" name="password" value="{$form->password}" maxlength="20" size="30" autocomplete="new-password"></td>
								</tr>
								<tr>
									<td>パスワード（確認)<span class="required">※</span></td>
									<td><input type="password" class="text" id="confirm_password" name="confirm_password" value="{$form->confirm_password}" maxlength="20" size="30"></td>
								</tr>
							</table>
							<br>
							<div style="width:100%;text-align:right">
								<input type="submit" name="insert" title="登録" class="btn_insert" value="">
							</div>
						</div>
					</section><!-- End Content -->
				</div><!-- End Main -->
			</div><!-- End divBody -->
			<div class="divFooter">
				<!--footer-->
					{include file='footer.html'}
				<!--footer-->
			</div>
		</form>
	</body>
</html>
