<!DOCTYPE html>
<html>
<head>
	<title>単語帳一覧</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="robots" content="noindex, nofollow">
	<meta name="googlebot" content="noindex, nofollow">
	{literal}
    <script type="text/javascript" src="{/literal}{$smarty.const.HOME_DIR}{literal}js/jquery.min.js"></script>
    <script type="text/javascript" src="{/literal}{$smarty.const.HOME_DIR}{literal}js/jquery-ui.js"></script>
	<script type="text/javascript" src="{/literal}{$smarty.const.HOME_DIR}{literal}js/escape.js"></script>
	<script type="text/javascript" src="{/literal}{$smarty.const.HOME_DIR}{literal}js/datatables.min.js"></script>
    {/literal}
	<link href="{$smarty.const.HOME_DIR}css/jquery-ui.css" rel="stylesheet">
	<link href="{$smarty.const.HOME_DIR}css/default.css" rel="stylesheet">
    <link href="{$smarty.const.HOME_DIR}css/datatables.css" rel="stylesheet">
    <script type="text/javascript">
                //表示再現
			$(document).ready(function(){
                // MSGのあるなし
				if ( $(".error_msg").html() != "" ){
                    $(".error_section").slideToggle('slow')
                }
                $(".close_icon").on('click',function(){
                    $(".error_section").slideToggle('slow')
                });
                /**
                *
                *  検索ボタン押下、必須チェック処理
                *
                **/
                $(".btn_search").on('click',function(){
                // MSGのあるなし
                if ( $(".error_msg").html() != "" ){
                    $(".error_section").slideToggle('slow')
                }
                return true;
                });
                //データテーブルを表示する
				var dataArray = $("#list").val();
				var current_page = parseInt($("#search_page").val());
				var current_page_row = parseInt($("#search_page_row").val());
				var current_order_column = $("#search_page_order_column").val();
				var current_order_dir = $("#search_page_order_dir").val();
				if(dataArray != ""){
					$('#tbl_search').DataTable({
						"scrollY": 300,
						"scrollX": true,
						"bFilter": false,
						"ordering": true,
						"pageLength": current_page_row,
						"language": {
							"info":" _TOTAL_ 件中 _START_ から _END_ まで表示",
							 "paginate": {
								"first":      "First",
								"last":       "Last",
								"next":       "次",
								"previous":   "前"
							},
							"lengthMenu":" _MENU_ 件表示"
						}
					});
				}
				var table = $('#tbl_search').dataTable();
				table.fnPageChange(current_page);
			});
    </script>
	</head>
<body class="pushmenu-push">
    <form id="main_form"  action="{$smarty.const.HOME_DIR}WordBookList/Search" method="post">
        <input type="hidden" id="back_flg" name="back_flg" value="{$form->back_flg}" />
        <input type="hidden" id="home_dir" value="{$smarty.const.HOME_DIR}" />
        <input type="hidden" id="wordbook_id" name="wordbook_id" value="{$form->wordbook_id}"/>
        <input type="hidden" id="org_no" name="org_no" value="{$form->org_no}"/>
		<input type="hidden" id="org_name" name="org_name" value="{$form->org_name}"/>
        <input type="hidden" id="search_name" name="search_name" value="{$form->search_name}"/>
        <input type="hidden" id="search_org_id" name="search_org_id" value="{$form->search_org_id}"/>
        <input type="hidden" id="search_page" name="search_page" value="{$form->search_page}"/>
        <input type="hidden" id="search_page_row" name="search_page_row" value="{$form->search_page_row}" />
		<input type="hidden" id="search_page_order_column" name="search_page_order_column" value="{$form->search_page_order_column}" />
		<input type="hidden" id="search_page_order_dir" name="search_page_order_dir" value="{$form->search_page_order_dir}" />
        <input type="hidden" id="screen_name" name="screen_name"/>
        <input type="hidden" id="screen_mode" name="screen_mode" value="{$form->screen_mode}"/>
            <!-- 戻るの場合リストか登録かの画面を分けるため -->
            {include file='leftMenu.html'}
			<div class="divHeader">
				<!--header-->
					{include file='header.html'}
				<!--header-->
            </div>
            <div class="divBody">
                <div class="container">
                    <div class="main">
                        <section class="error_section">
                            <img src="{$smarty.const.HOME_DIR}image/close_icon.png" style="width:15px;float:right" class="close_icon">
                            {if !empty($msg)}
							<div class="error_msg">{$msg}</div>
							{else if !empty($info_msg)}
							<div class="error_msg">{$info_msg}</div>
							{else if !empty($err_msg)}
							<div class="error_msg">{$err_msg}</div>
							{else}
							 <div class="error_msg"></div>
							{/if}
                        </section>
                        <section class="content">
                            <p>
                                >> <span class="title">単語 / 単語帳一覧</span>
                            </p>
                            <table class="main_tbl" style="width:100%">
                                <tr>
                                    <td style="width:150px;">単語帳名</td>
                                    <td class="input"><input class="text" type="text"
                                        name="search_name" id="search_name"
                                        value="{$form->search_name|escape}" maxlength = "32" size="30"></td>
                                </tr>
                                <tr>
									<td style="width:150px;">組織ログイン ID</td>
									<td class="input"><input class="text" type="text" name="search_org_id" id="search_org_id"
									value="{$form->search_org_id|escape}" maxlength = "10" size="30"></td>
								</tr>
                            </table>
                            <br>
                            <div align="right" style="width:100%">
                                <input type="submit" id="btn_search" name="search" title="検索" class="btn_search" alt="search" value="" style="padding-right:50px;">
                                <!--20220309_事業部担当者対応-->
								{if $admin_kbn != "005"}
                                	<input type="button" id="add" name="add_wordbook" class="btn_add" value="" title="単語帳追加" onclick="javascript:doInsert('{$smarty.const.HOME_DIR}WordBookRegist/index')">
                                {/if}
                            </div>
                            <br>
                            <table class="tbl_search" id="tbl_search" style="border-collapse: collapse; font-size: 1.0em;width:100%">
                            <thead width="100%">
                                <tr width="100%">
                                    <th width="200px" style="text-align:left;">組織</th>
                                    <th width="100px" style="text-align:left;">単語帳名</th>
                                    <th width="100px" style="text-align:left;">複写</th>
                                    <th width="100px" style="text-align:left;">単語追加</th>
									<th width="100px" style="text-align:left;">出題順</th>
                                    <th width="50px" style="text-align:left;">詳細</th>
                                </tr>
                            </thead>
                                <tbody>
                                    {if !empty($list)}
                                    {foreach $list as $result}
                                    <tr>
                                        <td width="200px;" style="text-align:left;">{$result->org_id|escape}</td>
                                        <td width="200px;" style="text-align:left;">{$result->name|escape}</td>
                                        <td width="100px" style="padding-left: 20px;">
											<input type="button" id="copy" name="copy" class="btn_copy" value="" title="" onclick="doCopy('{$result->org_no}','{$result->wordbook_id}','{$smarty.const.HOME_DIR}WordBookRegist/index')">
										</td>
                                        <td width="100px" style="padding-left: 30px;">
											<input type="button" id="add_word" name="add_word" class="btn_add" value="" title="単語追加" onclick="javascript:goWBWInsert('{$result->wordbook_id}','{$result->org_no}','{$smarty.const.HOME_DIR}WordBookWord/index')">
										</td>
										<td width="100px" align="center">
											<input type="button"
											class="btn_quiz_assign_list" name="btn_quizassign" title="出題順"
											onclick="assign('{$result->wordbook_id}','{$result->org_no}','{$smarty.const.HOME_DIR}WordSort/index')">
										</td>
                                        <td width="50px" style="padding-left: 20px;">
                                            <input type="button" class="btn_edit" name="edit" title="編集" onclick="trans('{$result->org_no}','{$result->wordbook_id}','{$smarty.const.HOME_DIR}WordBookRegist/index')">
                                        </td>
                                    </tr>
                                    {/foreach}
                                </tbody>
                            </table>
                            {/if}
                        </section>
                    </div>
                </div>
            </div><!-- End divBody -->
			<div class="divFooter">
				<!--footer-->
					{include file='footer.html'}
				<!--footer-->
			</div>
        </form>
        <script>
            {literal}
                    function setDataTableData(){
                        var page = 0;
                        var page_row = 10;
                        var order;
                        var page_order_column = 1;
                        var page_order_dir = true;
                        //初期で登録する場合、データテーブルをチェックする
                        if ( $.fn.DataTable.isDataTable( '#tbl_search' ) ){
                            //データテーブルがある場合、確認ボタン、複写ボタンと編集ボタンの処理
                            var table = $('#tbl_search').DataTable();
                            var info = table.page.info();
                            page = info.page;// データテーブルのページ
                            page_row = table.page.info().length;// データテーブルのドロップダウンリストの行
                            order = table.order();
                            page_order_column = order[0][0];
                            page_order_dir = order[0][1];
                        }        
                        $("#search_page").val(page);
                        $("#search_page_row").val(page_row);
                        $("#search_page_order_column").val(page_order_column);
                        $("#search_page_order_dir").val(page_order_dir);
                    }

                    function doInsert(action){
                    setDataTableData();
                    var menuOpen = document.getElementById('menuOpen').value;
                    var menuStatus = document.getElementById('menuStatus').value;
                    $("#main_form").attr("action", action);
                    $("#search_name").val($("#search_name").val());
                    $("#search_org_id").val($("#search_org_id").val());
                    $("#screen_mode").val("new");
                    $("#menuOpen").val(menuOpen);
                    $("#menuStatus").val(menuStatus);
                    $("#main_form").submit();
                }

                function trans(org_no, wordbook_id, action){
                    var menuOpen = document.getElementById('menuOpen').value;
                    var menuStatus = document.getElementById('menuStatus').value;
                    $("#search_name").val($("#search_name").val());
                    $("#search_org_id").val($("#search_org_id").val());
                    setDataTableData();
                    $("#main_form").attr("action", action);
                    $("#screen_mode").val("update");
                    $("#wordbook_id").val(wordbook_id);
                    $("#org_no").val(org_no);
                    $("#menuOpen").val(menuOpen);
                    $("#menuStatus").val(menuStatus);
                    $("#main_form").submit();
                }

                function doCopy(org_no, wordbook_id, action){
                    var menuOpen = document.getElementById('menuOpen').value;
                    var menuStatus = document.getElementById('menuStatus').value;
                    $("#search_name").val($("#search_name").val());
                    $("#search_org_id").val($("#search_org_id").val());
                    setDataTableData();
                    $("#main_form").attr("action", action);
                    $("#screen_mode").val("copy");
                    $("#wordbook_id").val(wordbook_id);
                    $("#org_no").val(org_no);
                    $("#menuOpen").val(menuOpen);
                    $("#menuStatus").val(menuStatus);
                    $("#main_form").submit();
                }

                function goWBWInsert(wordbook_id, org_no, action){
					var menuOpen = document.getElementById('menuOpen').value;
					var menuStatus = document.getElementById('menuStatus').value;
                    setDataTableData();
					$("#main_form").attr("action", action);
                    $("#wordbook_id").val(wordbook_id);
                    $("#org_no").val(org_no);
					$("#screen_mode").val("new");
                    $("#screen_name").val("list");
					$("#menuOpen").val(menuOpen);
					$("#menuStatus").val(menuStatus);
					$("#main_form").submit();
		        }
				
				// 出題順ボタン処理
				function assign(wordbook_id,org_no, action){
					var menuOpen = document.getElementById('menuOpen').value;
					var menuStatus = document.getElementById('menuStatus').value;
					$("#search_name").val($("#search_name").val());
					$("#org_no").val(org_no);
					setDataTableData();
					$("#main_form").attr("action", action);
					$("#wordbook_id").val(wordbook_id);
					$("#screen_name").val("list");
					$("#screen_mode").val("new");
					$("#menuOpen").val(menuOpen);
					$("#menuStatus").val(menuStatus);
					$("#main_form").submit();
				}
				
				
            {/literal}
        </script>
    </body>
</html>